*, *::before, *::after { box-sizing: border-box; }
:root {
  --8: 8px;
  --border-radius-4: 4px;
  --border-radius-8: 8px;
  --border-radius-lg: 11px;
  --border-radius-md: 8px;
  --border-width-1: 1px;
  --border-width-2: 2px;
  --button-color-content-default: #ffffff;
  --color-background-brand-hover: #2d6079;
  --color-background-brand: #3d7a95;
  --color-background-default: #ffffff;
  --color-background-inverted: #c6c7c6;
  --color-background-none: #00000200;
  --color-background-subtle-hover: #0000024d;
  --color-background-weak-hover: #00000233;
  --color-background-weak: #0000020d;
  --color-content-brand: #224b60;
  --color-content-default-hover: #000002;
  --color-content-default: #252729;
  --color-content-inverse: #252729;
  --color-content-utility-danger-strong: #9b3232;
  --color-content-utility-info-strong: #326e9b;
  --color-content-utility-success-strong: #329b40;
  --color-content-utility-warning-strong: #9b6e31;
  --color-content-weak-hover: #2c2e30;
  --color-content-weak: #5b5d5e;
  --color-neutral-950: #252729;
  --comp-border-focus-ring: #2d6079;
  --comp-border-none: #0000021a;
  --comp-button-color-background-default: #0000020d;
  --comp-button-color-background-hover: #00000233;
  --comp-button-color-background-knockout-active: #f7f8f7;
  --comp-button-color-background-knockout-hover: #c6c7c6;
  --comp-button-color-background-knockout: #f7f8f7;
  --comp-button-color-border-active: #0000021a;
  --comp-button-color-border-default: #0000021a;
  --comp-button-color-border-hover: #0000021a;
  --comp-button-color-content-active: #252729;
  --comp-button-color-content-default: #252729;
  --comp-button-color-content-hover: #252729;
  --comp-button-primary-color-background-active: #2d6079;
  --comp-button-primary-color-background-default: #3d7a95;
  --comp-button-primary-color-background-hover: #2d6079;
  --comp-button-primary-color-content-active: #ffffff;
  --comp-button-primary-color-content-default: #ffffff;
  --comp-button-primary-color-content-hover: #ffffff;
  --comp-form-color-background-default: #0000020d;
  --comp-form-color-background-hover: #00000226;
  --comp-form-color-border-default: #00000233;
  --comp-form-color-border-hover: #0000024d;
  --comp-form-color-border-utility-danger: #c23737;
  --component-border-radius-rounded-full: 9999px;
  --component-border-radius-rounded-lg: 8px;
  --component-border-radius-rounded-md: 6px;
  --component-border-radius-rounded-xl: 12px;
  --component-border-radius-rounded: 4px;
  --component-border-width-sm: 1px;
  --imported-atoms-badge-root-background-image-accent: linear-gradient(270deg, #d9c5f7 0%, #d0b5f9 100%);
  --imported-atoms-badge-root-background-image-brand: none;
  --imported-atoms-badge-root-background-image-featured: linear-gradient(270deg, #f9cde7 0%, #f6b2db 100%);
  --imported-atoms-badge-root-background-image-info: linear-gradient(270deg, #b2e7f3 0%, #9ae0f0 100%);
  --imported-atoms-badge-root-background-image-warning: linear-gradient(270deg, #f3e0c6 0%, #f0d1a5 100%);
  --imported-atoms-badge-root-height-false: 22px;
  --imported-atoms-badge-root-height-true: fit-content;
  --imported-atoms-badge-root-width-false: 22px;
  --imported-atoms-badge-root-width-true: fit-content;
  --imported-atoms-button-state-focus-visible-outline-width: 2px;
  --imported-atoms-checkbox-root-width: 240px;
  --imported-atoms-checkbox-state-focus-visible-outline-width: 2px;
  --imported-atoms-icon-button-state-focus-visible-outline-width: 2px;
  --imported-atoms-input-root-width: 268px;
  --imported-atoms-tag-label-font-size: 14px;
  --imported-atoms-tag-label-line-height: 20px;
  --imported-atoms-tag-state-focus-visible-outline-width: 2px;
  --imported-molecules-alert-root-box-shadow: 0px 12px 60px #00000026, 0px 12px 32px -16px #0009321f;
  --imported-molecules-alert-root-max-width: 880px;
  --imported-molecules-alert-root-width: 390px;
  --imported-stub-atoms-text-link-root-height: 20px;
  --imported-stub-atoms-text-link-root-width: 37px;
  --imported-stub-field-label-root-height: 18px;
  --imported-stub-field-label-root-width: 268px;
  --imported-stub-icons-check-circle-root-height: 16px;
  --imported-stub-icons-check-circle-root-width: 16px;
  --imported-stub-icons-checkbox-root-height: 20px;
  --imported-stub-icons-checkbox-root-width: 20px;
  --imported-stub-icons-close-root-height: 16px;
  --imported-stub-icons-close-root-width: 16px;
  --imported-stub-icons-pause-root-height: 20px;
  --imported-stub-icons-pause-root-width: 20px;
  --imported-stub-icons-placeholder-root-height: 15px;
  --imported-stub-icons-placeholder-root-width: 15px;
  --imported-stub-icons-play-root-height: 20px;
  --imported-stub-icons-play-root-width: 20px;
  --imported-stub-inline-danger-root-height: 18px;
  --imported-stub-inline-danger-root-width: 268px;
  --imported-stub-inline-hint-root-height: 18px;
  --imported-stub-inline-hint-root-width: 216px;
  --imported-text-body-md-bold-font-size: 16px;
  --imported-text-body-md-bold-font-weight: 700;
  --imported-text-body-md-bold-line-height: 20px;
  --imported-text-body-sm-font-size: 14px;
  --imported-text-body-sm-font-weight: 500;
  --imported-text-body-sm-line-height: 20px;
  --imported-text-caption-lg-allcaps-bold-font-size: 12px;
  --imported-text-caption-lg-allcaps-bold-font-weight: 700;
  --imported-text-caption-lg-allcaps-bold-line-height: 18px;
  --opacity-disabled: 40;
  --opacity-full: 100;
  --space-xs: 8px;
  --spacing-0-5: 2px;
  --spacing-0: 0px;
  --spacing-1-5: 6px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-6: 6px;
  --theme-opacity-default: 100;
  --theme-opacity-disabled: 40;
}
