[data-cf="hard-svg-glyph-stroke"] { display: flex; background: rgb(250, 250, 250); }
[data-cf="hard-svg-glyph-stroke"] .cf-a path { stroke: rgb(20, 20, 20); stroke-width: 2px; stroke-linecap: round; stroke-linejoin: round; fill: none; }
