[data-cf="grid-absolute-overlay"] { display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 24px 24px; width: 200px; position: relative; background: rgb(238, 240, 238); }
[data-cf="grid-absolute-overlay"] .cf-a { grid-row: 1; grid-column: 1; background: rgb(212, 220, 212); }
[data-cf="grid-absolute-overlay"] .cf-b { position: absolute; top: 4px; left: 4px; width: 20px; height: 8px; background: rgb(198, 206, 198); }
