[data-cf="grid-area-nonrectangular"] { display: grid; grid-template-rows: 16px 16px; grid-template-columns: 1fr 1fr; width: 200px; background: rgb(244, 240, 238); }
[data-cf="grid-area-nonrectangular"] .cf-a { grid-row: 1; grid-column: 1 / span 2; background: rgb(230, 218, 208); }
[data-cf="grid-area-nonrectangular"] .cf-b { grid-row: 2; grid-column: 1; background: rgb(236, 226, 216); }
