[data-cf="table-semantic-row-group"] { background: rgb(240, 236, 230); }
[data-cf="table-semantic-row-group"] .cf-c { background: rgb(226, 232, 240); }
[data-cf="table-semantic-row-group"] .cf-a { background: rgb(252, 252, 252); }
