:root {
  --ai-aura-end: rgba(255, 255, 255, 0);
  --ai-aura-hover-background: #edf5ff;
  --ai-aura-hover-end: rgba(255, 255, 255, 0);
  --ai-aura-hover-start: rgba(69, 137, 255, 0.32);
  --ai-aura-start: rgba(69, 137, 255, 0.1);
  --ai-aura-start-sm: rgba(69, 137, 255, 0.16);
  --ai-border-end: #78a9ff;
  --ai-border-start: rgba(166, 200, 255, 0.64);
  --ai-border-strong: #4589ff;
  --ai-drop-shadow: rgba(15, 98, 254, 0.1);
  --ai-inner-shadow: rgba(69, 137, 255, 0.1);
  --ai-overlay: rgba(0, 17, 65, 0.5);
  --ai-popover-background: #ffffff;
  --ai-popover-caret-bottom: #78a9ff;
  --ai-popover-caret-bottom-background: #eaf1ff;
  --ai-popover-caret-bottom-background-actions: #e9effa;
  --ai-popover-caret-center: #a0c3ff;
  --ai-popover-shadow-outer-01: rgba(0, 67, 206, 0.06);
  --ai-popover-shadow-outer-02: rgba(0, 0, 0, 0.04);
  --ai-skeleton-background: #d0e2ff;
  --ai-skeleton-element-background: #4589ff;
  --background: #ffffff;
  --background-active: rgba(141, 141, 141, 0.5);
  --background-brand: #0f62fe;
  --background-hover: rgba(141, 141, 141, 0.12);
  --background-inverse: #393939;
  --background-inverse-hover: #474747;
  --background-selected: rgba(141, 141, 141, 0.2);
  --background-selected-hover: rgba(141, 141, 141, 0.32);
  --border-disabled: #c6c6c6;
  --border-interactive: #0f62fe;
  --border-inverse: #161616;
  --border-strong: #8d8d8d;
  --border-strong-01: #8d8d8d;
  --border-strong-02: #8d8d8d;
  --border-strong-03: #8d8d8d;
  --border-subtle: #e0e0e0;
  --border-subtle-00: #e0e0e0;
  --border-subtle-01: #c6c6c6;
  --border-subtle-02: #e0e0e0;
  --border-subtle-03: #c6c6c6;
  --border-subtle-selected: #c6c6c6;
  --border-subtle-selected-01: #c6c6c6;
  --border-subtle-selected-02: #c6c6c6;
  --border-subtle-selected-03: #c6c6c6;
  --border-tile: #c6c6c6;
  --border-tile-01: #c6c6c6;
  --border-tile-02: #a8a8a8;
  --border-tile-03: #c6c6c6;
  --button-danger-active: #750e13;
  --button-danger-hover: #b81921;
  --button-danger-primary: #da1e28;
  --button-danger-secondary: #da1e28;
  --button-disabled: #c6c6c6;
  --button-primary: #0f62fe;
  --button-primary-active: #002d9c;
  --button-primary-hover: #0050e6;
  --button-secondary: #393939;
  --button-secondary-active: #6f6f6f;
  --button-secondary-hover: #474747;
  --button-separator: #e0e0e0;
  --button-tertiary: #0f62fe;
  --button-tertiary-active: #002d9c;
  --button-tertiary-hover: #0050e6;
  --chat-avatar-agent: #393939;
  --chat-avatar-bot: #6f6f6f;
  --chat-avatar-user: #0f62fe;
  --chat-bubble-agent: #ffffff;
  --chat-bubble-agent-text: #161616;
  --chat-bubble-border: #e0e0e0;
  --chat-bubble-user: #e0e0e0;
  --chat-bubble-user-text: #161616;
  --chat-button: #0f62fe;
  --chat-button-active: rgba(141, 141, 141, 0.5);
  --chat-button-hover: rgba(141, 141, 141, 0.12);
  --chat-button-selected: rgba(141, 141, 141, 0.2);
  --chat-button-text-hover: #0043ce;
  --chat-button-text-selected: #525252;
  --chat-header-background: #ffffff;
  --chat-header-text: #161616;
  --chat-prompt-background: #ffffff;
  --chat-prompt-border-end: rgba(244, 244, 244, 0);
  --chat-prompt-border-start: #f4f4f4;
  --chat-prompt-text: #161616;
  --chat-shell-background: #ffffff;
  --color-scheme: light;
  --content-switcher-background: #e0e0e0;
  --content-switcher-background-hover: #d1d1d1;
  --content-switcher-selected: #ffffff;
  --field: #f4f4f4;
  --field-01: #f4f4f4;
  --field-02: #ffffff;
  --field-03: #f4f4f4;
  --field-hover: #e8e8e8;
  --field-hover-01: #e8e8e8;
  --field-hover-02: #e8e8e8;
  --field-hover-03: #e8e8e8;
  --focus: #0f62fe;
  --focus-inset: #ffffff;
  --focus-inverse: #ffffff;
  --highlight: #d0e2ff;
  --icon-disabled: rgba(22, 22, 22, 0.25);
  --icon-interactive: #0f62fe;
  --icon-inverse: #ffffff;
  --icon-on-color: #ffffff;
  --icon-on-color-disabled: #8d8d8d;
  --icon-primary: #161616;
  --icon-secondary: #525252;
  --interactive: #0f62fe;
  --layer: #f4f4f4;
  --layer-01: #f4f4f4;
  --layer-02: #ffffff;
  --layer-03: #f4f4f4;
  --layer-accent: #e0e0e0;
  --layer-accent-01: #e0e0e0;
  --layer-accent-02: #e0e0e0;
  --layer-accent-03: #e0e0e0;
  --layer-accent-active: #a8a8a8;
  --layer-accent-active-01: #a8a8a8;
  --layer-accent-active-02: #a8a8a8;
  --layer-accent-active-03: #a8a8a8;
  --layer-accent-hover: #d1d1d1;
  --layer-accent-hover-01: #d1d1d1;
  --layer-accent-hover-02: #d1d1d1;
  --layer-accent-hover-03: #d1d1d1;
  --layer-active: #c6c6c6;
  --layer-active-01: #c6c6c6;
  --layer-active-02: #c6c6c6;
  --layer-active-03: #c6c6c6;
  --layer-background: #ffffff;
  --layer-background-01: #ffffff;
  --layer-background-02: #f4f4f4;
  --layer-background-03: #ffffff;
  --layer-hover: #e8e8e8;
  --layer-hover-01: #e8e8e8;
  --layer-hover-02: #e8e8e8;
  --layer-hover-03: #e8e8e8;
  --layer-selected: #e0e0e0;
  --layer-selected-01: #e0e0e0;
  --layer-selected-02: #e0e0e0;
  --layer-selected-03: #e0e0e0;
  --layer-selected-disabled: #8d8d8d;
  --layer-selected-hover: #d1d1d1;
  --layer-selected-hover-01: #d1d1d1;
  --layer-selected-hover-02: #d1d1d1;
  --layer-selected-hover-03: #d1d1d1;
  --layer-selected-inverse: #161616;
  --layout-density-padding-inline-condensed: 0.5rem;
  --layout-density-padding-inline-max: 999999999px;
  --layout-density-padding-inline-min: 0px;
  --layout-density-padding-inline-normal: 1rem;
  --layout-size-height-2xl: 5rem;
  --layout-size-height-lg: 3rem;
  --layout-size-height-max: 999999999px;
  --layout-size-height-md: 2.5rem;
  --layout-size-height-min: 0px;
  --layout-size-height-sm: 2rem;
  --layout-size-height-xl: 4rem;
  --layout-size-height-xs: 1.5rem;
  --link-inverse: #78a9ff;
  --link-inverse-active: #f4f4f4;
  --link-inverse-hover: #a6c8ff;
  --link-inverse-visited: #be95ff;
  --link-primary: #0f62fe;
  --link-primary-hover: #0043ce;
  --link-secondary: #0043ce;
  --link-visited: #8a3ffc;
  --notification-action-hover: #ffffff;
  --notification-action-tertiary-inverse: #ffffff;
  --notification-action-tertiary-inverse-active: #c6c6c6;
  --notification-action-tertiary-inverse-hover: #f4f4f4;
  --notification-action-tertiary-inverse-text: #161616;
  --notification-action-tertiary-inverse-text-on-color-disabled: rgba(255, 255, 255, 0.25);
  --notification-background-error: #fff1f1;
  --notification-background-info: #edf5ff;
  --notification-background-success: #defbe6;
  --notification-background-warning: #fcf4d6;
  --overlay: rgba(0, 0, 0, 0.6);
  --shadow: rgba(0, 0, 0, 0.3);
  --skeleton-background: #e8e8e8;
  --skeleton-element: #c6c6c6;
  --status-blue: #0043ce;
  --status-gray: #6f6f6f;
  --status-green: #24a148;
  --status-orange: #ff832b;
  --status-orange-outline: #ba4e00;
  --status-purple: #8a3ffc;
  --status-red: #da1e28;
  --status-yellow: #f1c21b;
  --status-yellow-outline: #8e6a00;
  --support-caution-major: #ff832b;
  --support-caution-minor: #f1c21b;
  --support-caution-undefined: #8a3ffc;
  --support-error: #da1e28;
  --support-error-inverse: #fa4d56;
  --support-info: #0043ce;
  --support-info-inverse: #4589ff;
  --support-success: #24a148;
  --support-success-inverse: #42be65;
  --support-warning: #f1c21b;
  --support-warning-inverse: #f1c21b;
  --syntax-angle-bracket: #697077;
  --syntax-annotation: #007d79;
  --syntax-arithmetic-operator: #343a3f;
  --syntax-atom: #161616;
  --syntax-attribute: #00539a;
  --syntax-attribute-name: #00539a;
  --syntax-attribute-value: #161616;
  --syntax-bitwise-operator: #343a3f;
  --syntax-block-comment: #198038;
  --syntax-bool: #161616;
  --syntax-brace: #343a3f;
  --syntax-bracket: #343a3f;
  --syntax-character: #161616;
  --syntax-class-name: #007d79;
  --syntax-color: #161616;
  --syntax-comment: #198038;
  --syntax-compare-operator: #343a3f;
  --syntax-constant: #0f62fe;
  --syntax-content: #161616;
  --syntax-content-separator: #343a3f;
  --syntax-control-keyword: #6929c4;
  --syntax-control-operator: #6929c4;
  --syntax-definition: #00539a;
  --syntax-definition-keyword: #00539a;
  --syntax-definition-operator: #00539a;
  --syntax-deleted: #ffd7d9;
  --syntax-deref-operator: #343a3f;
  --syntax-doc-comment: #198038;
  --syntax-doc-string: #161616;
  --syntax-document-meta: #198038;
  --syntax-emphasis: #161616;
  --syntax-escape: #343a3f;
  --syntax-float: #198038;
  --syntax-function: #8e6a00;
  --syntax-heading: #00539a;
  --syntax-heading-1: #00539a;
  --syntax-heading-2: #00539a;
  --syntax-heading-3: #00539a;
  --syntax-heading-4: #00539a;
  --syntax-heading-5: #00539a;
  --syntax-heading-6: #00539a;
  --syntax-inserted: #a7f0ba;
  --syntax-integer: #198038;
  --syntax-invalid: #da1e28;
  --syntax-keyword: #0f62fe;
  --syntax-label-name: #0f62fe;
  --syntax-line-comment: #198038;
  --syntax-link: #0f62fe;
  --syntax-list: #161616;
  --syntax-literal: #161616;
  --syntax-local: #0f62fe;
  --syntax-logic-operator: #343a3f;
  --syntax-macro-name: #161616;
  --syntax-meta: #198038;
  --syntax-modifier: #0f62fe;
  --syntax-module-keyword: #6929c4;
  --syntax-monospace: #161616;
  --syntax-name: #0f62fe;
  --syntax-namespace: #007d79;
  --syntax-null: #161616;
  --syntax-number: #198038;
  --syntax-operator: #343a3f;
  --syntax-operator-keyword: #0f62fe;
  --syntax-paren: #343a3f;
  --syntax-processing-instruction: #161616;
  --syntax-property-name: #00539a;
  --syntax-punctuation: #343a3f;
  --syntax-quote: #198038;
  --syntax-regexp: #6929c4;
  --syntax-self: #007d79;
  --syntax-separator: #343a3f;
  --syntax-special: #0f62fe;
  --syntax-special-string: #8a3ffc;
  --syntax-square-bracket: #343a3f;
  --syntax-standard: #0f62fe;
  --syntax-strikethrough: #161616;
  --syntax-string: #161616;
  --syntax-strong: #161616;
  --syntax-tag: #007d79;
  --syntax-tag-name: #007d79;
  --syntax-type: #007d79;
  --syntax-type-name: #007d79;
  --syntax-type-operator: #007d79;
  --syntax-unit: #198038;
  --syntax-update-operator: #343a3f;
  --syntax-url: #343a3f;
  --syntax-variable: #0f62fe;
  --syntax-variable-name: #0f62fe;
  --tag-background-blue: #d0e2ff;
  --tag-background-cool-gray: #dde1e6;
  --tag-background-cyan: #bae6ff;
  --tag-background-gray: #e0e0e0;
  --tag-background-green: #a7f0ba;
  --tag-background-magenta: #ffd6e8;
  --tag-background-purple: #e8daff;
  --tag-background-red: #ffd7d9;
  --tag-background-teal: #9ef0f0;
  --tag-background-warm-gray: #e5e0df;
  --tag-border-blue: #78a9ff;
  --tag-border-cool-gray: #a2a9b0;
  --tag-border-cyan: #33b1ff;
  --tag-border-gray: #a8a8a8;
  --tag-border-green: #42be65;
  --tag-border-magenta: #ff7eb6;
  --tag-border-purple: #be95ff;
  --tag-border-red: #ff8389;
  --tag-border-teal: #08bdba;
  --tag-border-warm-gray: #ada8a8;
  --tag-color-blue: #0043ce;
  --tag-color-cool-gray: #121619;
  --tag-color-cyan: #00539a;
  --tag-color-gray: #161616;
  --tag-color-green: #0e6027;
  --tag-color-magenta: #9f1853;
  --tag-color-purple: #6929c4;
  --tag-color-red: #a2191f;
  --tag-color-teal: #005d5d;
  --tag-color-warm-gray: #171414;
  --tag-hover-blue: #b8d3ff;
  --tag-hover-cool-gray: #cdd3da;
  --tag-hover-cyan: #99daff;
  --tag-hover-gray: #d1d1d1;
  --tag-hover-green: #74e792;
  --tag-hover-magenta: #ffbdda;
  --tag-hover-purple: #dcc7ff;
  --tag-hover-red: #ffc2c5;
  --tag-hover-teal: #57e5e5;
  --tag-hover-warm-gray: #d8d0cf;
  --text-disabled: rgba(22, 22, 22, 0.25);
  --text-error: #da1e28;
  --text-helper: #6f6f6f;
  --text-inverse: #ffffff;
  --text-on-color: #ffffff;
  --text-on-color-disabled: #8d8d8d;
  --text-placeholder: rgba(22, 22, 22, 0.4);
  --text-primary: #161616;
  --text-secondary: #525252;
  --toggle-off: #8d8d8d;
}
