[data-cf="grid-col-span"] { display: grid; grid-template-columns: 40px 40px 40px; grid-template-rows: 16px; background: rgb(236, 242, 240); }
[data-cf="grid-col-span"] .cf-a { grid-row: 1; grid-column: 1 / span 2; background: rgb(204, 222, 214); }
[data-cf="grid-col-span"] .cf-b { grid-row: 1; grid-column: 3; background: rgb(212, 230, 222); }
