:root {
  --accent-1: #fdfdfe;
  --accent-10: #3358d4;
  --accent-11: #3a5bc7;
  --accent-12: #1f2d5c;
  --accent-2: #f7f9ff;
  --accent-3: #edf2fe;
  --accent-4: #e1e9ff;
  --accent-5: #d2deff;
  --accent-6: #c1d0ff;
  --accent-7: #abbdf9;
  --accent-8: #8da4ef;
  --accent-9: #3e63dd;
  --accent-a1: #00008002;
  --accent-a10: #002ec9cc;
  --accent-a11: #002bb7c5;
  --accent-a12: #001046e0;
  --accent-a2: #0040ff08;
  --accent-a3: #0047f112;
  --accent-a4: #0044ff1e;
  --accent-a5: #0044ff2d;
  --accent-a6: #003eff3e;
  --accent-a7: #0037ed54;
  --accent-a8: #0034dc72;
  --accent-a9: #0031d2c1;
  --accent-contrast: white;
  --accent-indicator: #3e63dd;
  --accent-surface: #f5f8ffcc;
  --accent-track: #3e63dd;
  --amber-1: #fefdfb;
  --amber-10: #ffba18;
  --amber-11: #ab6400;
  --amber-12: #4f3422;
  --amber-2: #fefbe9;
  --amber-3: #fff7c2;
  --amber-4: #ffee9c;
  --amber-5: #fbe577;
  --amber-6: #f3d673;
  --amber-7: #e9c162;
  --amber-8: #e2a336;
  --amber-9: #ffc53d;
  --amber-a1: #c0800004;
  --amber-a10: #ffb300e7;
  --amber-a11: #ab6400;
  --amber-a12: #341500dd;
  --amber-a2: #f4d10016;
  --amber-a3: #ffde003d;
  --amber-a4: #ffd40063;
  --amber-a5: #f8cf0088;
  --amber-a6: #eab5008c;
  --amber-a7: #dc9b009d;
  --amber-a8: #da8a00c9;
  --amber-a9: #ffb300c2;
  --amber-contrast: #21201c;
  --amber-indicator: #ffc53d;
  --amber-surface: #fefae4cc;
  --amber-track: #ffc53d;
  --backdrop-filter-panel: blur(64px);
  --base-button-classic-active-filter: brightness(0.92) saturate(1.1);
  --base-button-classic-after-inset: 2px;
  --base-button-classic-box-shadow-bottom: inset 0 4px 2px -2px rgba(255, 255, 255, 0.7), inset 0 2px 1px -1px rgba(255, 255, 255, 0.7);
  --base-button-classic-box-shadow-top: inset 0 0 0 1px #00002d17, inset 0 -2px 1px #0000330f;
  --base-button-classic-disabled-box-shadow: inset 0 0 0 1px #00002d17, inset 0 -2px 1px #0000330f, inset 0 4px 2px -2px rgba(255, 255, 255, 0.7), inset 0 2px 1px -1px rgba(255, 255, 255, 0.7);
  --base-button-classic-high-contrast-active-filter: contrast(0.82) saturate(1.2) brightness(1.16);
  --base-button-classic-high-contrast-hover-filter: contrast(0.88) saturate(1.1) brightness(1.1);
  --base-button-solid-active-filter: brightness(0.92) saturate(1.1);
  --base-button-solid-high-contrast-active-filter: contrast(0.82) saturate(1.2) brightness(1.16);
  --base-button-solid-high-contrast-hover-filter: contrast(0.88) saturate(1.1) brightness(1.1);
  --base-card-classic-active-border-color: color-mix(in oklab, #0000330f, #f0f0f3 25%);
  --base-card-classic-active-box-shadow-inner: 0 0 0 1px color-mix(in oklab, #0000330f, #f0f0f3 25%), 0 0 0 1px rgb(0 0 0 / 0), 0 0 0 0.5px rgba(0, 0, 0, 0.05), 0 1px 1px 0 #00002d17, 0 2px 1px -1px rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.05);
  --base-card-classic-active-box-shadow-outer: 0 0 0 0 color-mix(in oklab, #0000330f, #f0f0f3 25%), 0 0 0 0 rgb(0 0 0 / 0), 0 0 0 0 rgba(0, 0, 0, 0.05), 0 1px 1px -1px #00002d17, 0 2px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.05);
  --base-card-classic-border-color: color-mix(in oklab, #0000330f, #f0f0f3 25%);
  --base-card-classic-box-shadow-inner: 0 0 0 1px color-mix(in oklab, #0000330f, #f0f0f3 25%), 0 0 0 1px rgb(0 0 0 / 0), 0 0 0 0.5px rgba(0, 0, 0, 0.05), 0 1px 1px 0 #00005506, 0 2px 1px -1px rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.05);
  --base-card-classic-box-shadow-outer: 0 0 0 0 color-mix(in oklab, #0000330f, #f0f0f3 25%), 0 0 0 0 rgb(0 0 0 / 0), 0 0 0 0 rgba(0, 0, 0, 0.05), 0 1px 1px -1px #00005506, 0 2px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.05);
  --base-card-classic-hover-border-color: color-mix(in oklab, #00002d17, #e8e8ec 25%);
  --base-card-classic-hover-box-shadow-inner: 0 0 0 1px color-mix(in oklab, #00002d17, #e8e8ec 25%), 0 1px 1px 1px rgba(0, 0, 0, 0.05), 0 2px 1px -1px #0000330f, 0 2px 3px -2px rgba(0, 0, 0, 0.05), 0 3px 12px -4px #0000330f, 0 4px 16px -8px rgba(0, 0, 0, 0.05);
  --base-card-classic-hover-box-shadow-outer: 0 0 0 0 color-mix(in oklab, #00002d17, #e8e8ec 25%), 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 1px -2px #0000330f, 0 2px 3px -3px rgba(0, 0, 0, 0.05), 0 3px 12px -5px #0000330f, 0 4px 16px -9px rgba(0, 0, 0, 0.05);
  --base-card-surface-active-box-shadow: 0 0 0 1px color-mix(in oklab, #00002f26, #d9d9e0 25%);
  --base-card-surface-box-shadow: 0 0 0 1px color-mix(in oklab, #0009321f, #e0e1e6 25%);
  --base-card-surface-hover-box-shadow: 0 0 0 1px color-mix(in oklab, #00062e32, #cdced6 25%);
  --black-a1: rgba(0, 0, 0, 0.05);
  --black-a10: rgba(0, 0, 0, 0.8);
  --black-a11: rgba(0, 0, 0, 0.9);
  --black-a12: rgba(0, 0, 0, 0.95);
  --black-a2: rgba(0, 0, 0, 0.1);
  --black-a3: rgba(0, 0, 0, 0.15);
  --black-a4: rgba(0, 0, 0, 0.2);
  --black-a5: rgba(0, 0, 0, 0.3);
  --black-a6: rgba(0, 0, 0, 0.4);
  --black-a7: rgba(0, 0, 0, 0.5);
  --black-a8: rgba(0, 0, 0, 0.6);
  --black-a9: rgba(0, 0, 0, 0.7);
  --blue-1: #fbfdff;
  --blue-10: #0588f0;
  --blue-11: #0d74ce;
  --blue-12: #113264;
  --blue-2: #f4faff;
  --blue-3: #e6f4fe;
  --blue-4: #d5efff;
  --blue-5: #c2e5ff;
  --blue-6: #acd8fc;
  --blue-7: #8ec8f6;
  --blue-8: #5eb1ef;
  --blue-9: #0090ff;
  --blue-a1: #0080ff04;
  --blue-a10: #0086f0fa;
  --blue-a11: #006dcbf2;
  --blue-a12: #002359ee;
  --blue-a2: #008cff0b;
  --blue-a3: #008ff519;
  --blue-a4: #009eff2a;
  --blue-a5: #0093ff3d;
  --blue-a6: #0088f653;
  --blue-a7: #0083eb71;
  --blue-a8: #0084e6a1;
  --blue-a9: #0090ff;
  --blue-contrast: white;
  --blue-indicator: #0090ff;
  --blue-surface: #f1f9ffcc;
  --blue-track: #0090ff;
  --bronze-1: #fdfcfc;
  --bronze-10: #957468;
  --bronze-11: #7d5e54;
  --bronze-12: #43302b;
  --bronze-2: #fdf7f5;
  --bronze-3: #f6edea;
  --bronze-4: #efe4df;
  --bronze-5: #e7d9d3;
  --bronze-6: #dfcdc5;
  --bronze-7: #d3bcb3;
  --bronze-8: #c2a499;
  --bronze-9: #a18072;
  --bronze-a1: #55000003;
  --bronze-a10: #4c150097;
  --bronze-a11: #3d0f00ab;
  --bronze-a12: #1d0600d4;
  --bronze-a2: #cc33000a;
  --bronze-a3: #92250015;
  --bronze-a4: #80280020;
  --bronze-a5: #7423002c;
  --bronze-a6: #7324003a;
  --bronze-a7: #6c1f004c;
  --bronze-a8: #671c0066;
  --bronze-a9: #551a008d;
  --bronze-contrast: white;
  --bronze-indicator: #a18072;
  --bronze-surface: #fdf5f3cc;
  --bronze-track: #a18072;
  --brown-1: #fefdfc;
  --brown-10: #a07553;
  --brown-11: #815e46;
  --brown-12: #3e332e;
  --brown-2: #fcf9f6;
  --brown-3: #f6eee7;
  --brown-4: #f0e4d9;
  --brown-5: #ebdaca;
  --brown-6: #e4cdb7;
  --brown-7: #dcbc9f;
  --brown-8: #cea37e;
  --brown-9: #ad7f58;
  --brown-a1: #aa550003;
  --brown-a10: #723300ac;
  --brown-a11: #522100b9;
  --brown-a12: #140600d1;
  --brown-a2: #aa550009;
  --brown-a3: #a04b0018;
  --brown-a4: #9b4a0026;
  --brown-a5: #9f4d0035;
  --brown-a6: #a04e0048;
  --brown-a7: #a34e0060;
  --brown-a8: #9f4a0081;
  --brown-a9: #823c00a7;
  --brown-contrast: white;
  --brown-indicator: #ad7f58;
  --brown-surface: #fbf8f4cc;
  --brown-track: #ad7f58;
  --code-font-family: 'Menlo', 'Consolas (Custom)', 'Bitstream Vera Sans Mono', monospace, 'Apple Color Emoji', 'Segoe UI Emoji';
  --code-font-size-adjust: 0.95;
  --code-font-style: normal;
  --code-font-weight: inherit;
  --code-letter-spacing: -0.007em;
  --code-padding-bottom: 0.1em;
  --code-padding-left: 0.25em;
  --code-padding-right: 0.25em;
  --code-padding-top: 0.1em;
  --color-background: white;
  --color-overlay: rgba(0, 0, 0, 0.4);
  --color-panel: rgba(255, 255, 255, 0.7);
  --color-panel-solid: white;
  --color-panel-translucent: rgba(255, 255, 255, 0.7);
  --color-surface: rgba(255, 255, 255, 0.85);
  --color-transparent: rgb(0 0 0 / 0);
  --container-1: 448px;
  --container-2: 688px;
  --container-3: 880px;
  --container-4: 1136px;
  --crimson-1: #fffcfd;
  --crimson-10: #df3478;
  --crimson-11: #cb1d63;
  --crimson-12: #621639;
  --crimson-2: #fef7f9;
  --crimson-3: #ffe9f0;
  --crimson-4: #fedce7;
  --crimson-5: #facedd;
  --crimson-6: #f3bed1;
  --crimson-7: #eaacc3;
  --crimson-8: #e093b2;
  --crimson-9: #e93d82;
  --crimson-a1: #ff005503;
  --crimson-a10: #d70056cb;
  --crimson-a11: #c4004fe2;
  --crimson-a12: #530026e9;
  --crimson-a2: #e0004008;
  --crimson-a3: #ff005216;
  --crimson-a4: #f8005123;
  --crimson-a5: #e5004f31;
  --crimson-a6: #d0004b41;
  --crimson-a7: #bf004753;
  --crimson-a8: #b6004a6c;
  --crimson-a9: #e2005bc2;
  --crimson-contrast: white;
  --crimson-indicator: #e93d82;
  --crimson-surface: #fef5f8cc;
  --crimson-track: #e93d82;
  --cursor-button: default;
  --cursor-checkbox: default;
  --cursor-disabled: not-allowed;
  --cursor-link: pointer;
  --cursor-menu-item: default;
  --cursor-radio: default;
  --cursor-slider-thumb: default;
  --cursor-slider-thumb-active: default;
  --cursor-switch: default;
  --cyan-1: #fafdfe;
  --cyan-10: #0797b9;
  --cyan-11: #107d98;
  --cyan-12: #0d3c48;
  --cyan-2: #f2fafb;
  --cyan-3: #def7f9;
  --cyan-4: #caf1f6;
  --cyan-5: #b5e9f0;
  --cyan-6: #9ddde7;
  --cyan-7: #7dcedc;
  --cyan-8: #3db9cf;
  --cyan-9: #00a2c7;
  --cyan-a1: #0099cc05;
  --cyan-a10: #0094b7f8;
  --cyan-a11: #007491ef;
  --cyan-a12: #00323ef2;
  --cyan-a2: #009db10d;
  --cyan-a3: #00c2d121;
  --cyan-a4: #00bcd435;
  --cyan-a5: #01b4cc4a;
  --cyan-a6: #00a7c162;
  --cyan-a7: #009fbb82;
  --cyan-a8: #00a3c0c2;
  --cyan-a9: #00a2c7;
  --cyan-contrast: white;
  --cyan-indicator: #00a2c7;
  --cyan-surface: #eff9facc;
  --cyan-track: #00a2c7;
  --default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI (Custom)', Roboto, 'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --default-font-size: calc(16px * 1);
  --default-font-style: normal;
  --default-font-weight: 400;
  --default-leading-trim-end: 0.36em;
  --default-leading-trim-start: 0.42em;
  --default-letter-spacing: 0em;
  --default-line-height: 1.5;
  --em-font-family: 'Times New Roman', 'Times', serif;
  --em-font-size-adjust: 1.18;
  --em-font-style: italic;
  --em-font-weight: inherit;
  --em-letter-spacing: -0.025em;
  --font-size-1: calc(12px * 1);
  --font-size-2: calc(14px * 1);
  --font-size-3: calc(16px * 1);
  --font-size-4: calc(18px * 1);
  --font-size-5: calc(20px * 1);
  --font-size-6: calc(24px * 1);
  --font-size-7: calc(28px * 1);
  --font-size-8: calc(35px * 1);
  --font-size-9: calc(60px * 1);
  --font-weight-bold: 700;
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --gold-1: #fdfdfc;
  --gold-10: #8c7a5e;
  --gold-11: #71624b;
  --gold-12: #3b352b;
  --gold-2: #faf9f2;
  --gold-3: #f2f0e7;
  --gold-4: #eae6db;
  --gold-5: #e1dccf;
  --gold-6: #d8d0bf;
  --gold-7: #cbc0aa;
  --gold-8: #b9a88d;
  --gold-9: #978365;
  --gold-a1: #55550003;
  --gold-a10: #492d00a1;
  --gold-a11: #362100b4;
  --gold-a12: #130c00d4;
  --gold-a2: #9d8a000d;
  --gold-a3: #75600018;
  --gold-a4: #6b4e0024;
  --gold-a5: #60460030;
  --gold-a6: #64440040;
  --gold-a7: #63420055;
  --gold-a8: #633d0072;
  --gold-a9: #5332009a;
  --gold-contrast: white;
  --gold-indicator: #978365;
  --gold-surface: #f9f8efcc;
  --gold-track: #978365;
  --grass-1: #fbfefb;
  --grass-10: #3e9b4f;
  --grass-11: #2a7e3b;
  --grass-12: #203c25;
  --grass-2: #f5fbf5;
  --grass-3: #e9f6e9;
  --grass-4: #daf1db;
  --grass-5: #c9e8ca;
  --grass-6: #b2ddb5;
  --grass-7: #94ce9a;
  --grass-8: #65ba74;
  --grass-9: #46a758;
  --grass-a1: #00c00004;
  --grass-a10: #007b17c1;
  --grass-a11: #006514d5;
  --grass-a12: #002006df;
  --grass-a2: #0099000a;
  --grass-a3: #00970016;
  --grass-a4: #009f0725;
  --grass-a5: #00930536;
  --grass-a6: #008f0a4d;
  --grass-a7: #018b0f6b;
  --grass-a8: #008d199a;
  --grass-a9: #008619b9;
  --grass-contrast: white;
  --grass-indicator: #46a758;
  --grass-surface: #f3faf3cc;
  --grass-track: #46a758;
  --gray-1: #fcfcfd;
  --gray-10: #80838d;
  --gray-11: #60646c;
  --gray-12: #1c2024;
  --gray-2: #f9f9fb;
  --gray-3: #f0f0f3;
  --gray-4: #e8e8ec;
  --gray-5: #e0e1e6;
  --gray-6: #d9d9e0;
  --gray-7: #cdced6;
  --gray-8: #b9bbc6;
  --gray-9: #8b8d98;
  --gray-a1: #00005503;
  --gray-a10: #00071b7f;
  --gray-a11: #0007149f;
  --gray-a12: #000509e3;
  --gray-a2: #00005506;
  --gray-a3: #0000330f;
  --gray-a4: #00002d17;
  --gray-a5: #0009321f;
  --gray-a6: #00002f26;
  --gray-a7: #00062e32;
  --gray-a8: #00083046;
  --gray-a9: #00051d74;
  --gray-contrast: white;
  --gray-indicator: #8b8d98;
  --gray-surface: #ffffffcc;
  --gray-track: #8b8d98;
  --green-1: #fbfefc;
  --green-10: #2b9a66;
  --green-11: #218358;
  --green-12: #193b2d;
  --green-2: #f4fbf6;
  --green-3: #e6f6eb;
  --green-4: #d6f1df;
  --green-5: #c4e8d1;
  --green-6: #adddc0;
  --green-7: #8eceaa;
  --green-8: #5bb98b;
  --green-9: #30a46c;
  --green-a1: #00c04004;
  --green-a10: #008647d4;
  --green-a11: #00713fde;
  --green-a12: #002616e6;
  --green-a2: #00a32f0b;
  --green-a3: #00a43319;
  --green-a4: #00a83829;
  --green-a5: #019c393b;
  --green-a6: #00963c52;
  --green-a7: #00914071;
  --green-a8: #00924ba4;
  --green-a9: #008f4acf;
  --green-contrast: white;
  --green-indicator: #30a46c;
  --green-surface: #f1faf4cc;
  --green-track: #30a46c;
  --heading-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI (Custom)', Roboto, 'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --heading-font-size-adjust: 1;
  --heading-font-style: normal;
  --heading-leading-trim-end: 0.36em;
  --heading-leading-trim-start: 0.42em;
  --heading-letter-spacing: 0em;
  --heading-line-height-1: calc(16px * 1);
  --heading-line-height-2: calc(18px * 1);
  --heading-line-height-3: calc(22px * 1);
  --heading-line-height-4: calc(24px * 1);
  --heading-line-height-5: calc(26px * 1);
  --heading-line-height-6: calc(30px * 1);
  --heading-line-height-7: calc(36px * 1);
  --heading-line-height-8: calc(40px * 1);
  --heading-line-height-9: calc(60px * 1);
  --indigo-1: #fdfdfe;
  --indigo-10: #3358d4;
  --indigo-11: #3a5bc7;
  --indigo-12: #1f2d5c;
  --indigo-2: #f7f9ff;
  --indigo-3: #edf2fe;
  --indigo-4: #e1e9ff;
  --indigo-5: #d2deff;
  --indigo-6: #c1d0ff;
  --indigo-7: #abbdf9;
  --indigo-8: #8da4ef;
  --indigo-9: #3e63dd;
  --indigo-a1: #00008002;
  --indigo-a10: #002ec9cc;
  --indigo-a11: #002bb7c5;
  --indigo-a12: #001046e0;
  --indigo-a2: #0040ff08;
  --indigo-a3: #0047f112;
  --indigo-a4: #0044ff1e;
  --indigo-a5: #0044ff2d;
  --indigo-a6: #003eff3e;
  --indigo-a7: #0037ed54;
  --indigo-a8: #0034dc72;
  --indigo-a9: #0031d2c1;
  --indigo-contrast: white;
  --indigo-indicator: #3e63dd;
  --indigo-surface: #f5f8ffcc;
  --indigo-track: #3e63dd;
  --iris-1: #fdfdff;
  --iris-10: #5151cd;
  --iris-11: #5753c6;
  --iris-12: #272962;
  --iris-2: #f8f8ff;
  --iris-3: #f0f1fe;
  --iris-4: #e6e7ff;
  --iris-5: #dadcff;
  --iris-6: #cbcdff;
  --iris-7: #b8baf8;
  --iris-8: #9b9ef0;
  --iris-9: #5b5bd6;
  --iris-a1: #0000ff02;
  --iris-a10: #0000b6ae;
  --iris-a11: #0600abac;
  --iris-a12: #000246d8;
  --iris-a2: #0000ff07;
  --iris-a3: #0011ee0f;
  --iris-a4: #000bff19;
  --iris-a5: #000eff25;
  --iris-a6: #000aff34;
  --iris-a7: #0008e647;
  --iris-a8: #0008d964;
  --iris-a9: #0000c0a4;
  --iris-contrast: white;
  --iris-indicator: #5b5bd6;
  --iris-surface: #f6f6ffcc;
  --iris-track: #5b5bd6;
  --jade-1: #fbfefd;
  --jade-10: #26997b;
  --jade-11: #208368;
  --jade-12: #1d3b31;
  --jade-2: #f4fbf7;
  --jade-3: #e6f7ed;
  --jade-4: #d6f1e3;
  --jade-5: #c3e9d7;
  --jade-6: #acdec8;
  --jade-7: #8bceb6;
  --jade-8: #56ba9f;
  --jade-9: #29a383;
  --jade-a1: #00c08004;
  --jade-a10: #008764d9;
  --jade-a11: #007152df;
  --jade-a12: #002217e2;
  --jade-a2: #00a3460b;
  --jade-a3: #00ae4819;
  --jade-a4: #00a85129;
  --jade-a5: #00a2553c;
  --jade-a6: #009a5753;
  --jade-a7: #00945f74;
  --jade-a8: #00976ea9;
  --jade-a9: #00916bd6;
  --jade-contrast: white;
  --jade-indicator: #29a383;
  --jade-surface: #f1faf5cc;
  --jade-track: #29a383;
  --kbd-box-shadow: inset 0 -0.05em 0.5em #00005506, inset 0 0.05em rgba(255, 255, 255, 0.95), inset 0 0.25em 0.5em #00005506, inset 0 -0.05em #00002f26, 0 0 0 0.05em #0009321f, 0 0.08em 0.17em #00062e32;
  --letter-spacing-1: 0.0025em;
  --letter-spacing-2: 0em;
  --letter-spacing-3: 0em;
  --letter-spacing-4: -0.0025em;
  --letter-spacing-5: -0.005em;
  --letter-spacing-6: -0.00625em;
  --letter-spacing-7: -0.0075em;
  --letter-spacing-8: -0.01em;
  --letter-spacing-9: -0.025em;
  --lime-1: #fcfdfa;
  --lime-10: #b0e64c;
  --lime-11: #5c7c2f;
  --lime-12: #37401c;
  --lime-2: #f8faf3;
  --lime-3: #eef6d6;
  --lime-4: #e2f0bd;
  --lime-5: #d3e7a6;
  --lime-6: #c2da91;
  --lime-7: #abc978;
  --lime-8: #8db654;
  --lime-9: #bdee63;
  --lime-a1: #66990005;
  --lime-a10: #8fdc00b3;
  --lime-a11: #375f00d0;
  --lime-a12: #1e2900e3;
  --lime-a2: #6b95000c;
  --lime-a3: #96c80029;
  --lime-a4: #8fc60042;
  --lime-a5: #81bb0059;
  --lime-a6: #72aa006e;
  --lime-a7: #61990087;
  --lime-a8: #559200ab;
  --lime-a9: #93e4009c;
  --lime-contrast: #1d211c;
  --lime-indicator: #bdee63;
  --lime-surface: #f6f9f0cc;
  --lime-track: #bdee63;
  --line-height-1: calc(16px * 1);
  --line-height-2: calc(20px * 1);
  --line-height-3: calc(24px * 1);
  --line-height-4: calc(26px * 1);
  --line-height-5: calc(28px * 1);
  --line-height-6: calc(30px * 1);
  --line-height-7: calc(36px * 1);
  --line-height-8: calc(40px * 1);
  --line-height-9: calc(60px * 1);
  --mauve-1: #fdfcfd;
  --mauve-10: #84828e;
  --mauve-11: #65636d;
  --mauve-12: #211f26;
  --mauve-2: #faf9fb;
  --mauve-3: #f2eff3;
  --mauve-4: #eae7ec;
  --mauve-5: #e3dfe6;
  --mauve-6: #dbd8e0;
  --mauve-7: #d0cdd7;
  --mauve-8: #bcbac7;
  --mauve-9: #8e8c99;
  --mauve-a1: #55005503;
  --mauve-a10: #0500197d;
  --mauve-a11: #0400119c;
  --mauve-a12: #020008e0;
  --mauve-a2: #2b005506;
  --mauve-a3: #30004010;
  --mauve-a4: #20003618;
  --mauve-a5: #20003820;
  --mauve-a6: #14003527;
  --mauve-a7: #10003332;
  --mauve-a8: #08003145;
  --mauve-a9: #05001d73;
  --mauve-contrast: white;
  --mauve-indicator: #8e8c99;
  --mauve-surface: #ffffffcc;
  --mauve-track: #8e8c99;
  --mint-1: #f9fefd;
  --mint-10: #7de0cb;
  --mint-11: #027864;
  --mint-12: #16433c;
  --mint-2: #f2fbf9;
  --mint-3: #ddf9f2;
  --mint-4: #c8f4e9;
  --mint-5: #b3ecde;
  --mint-6: #9ce0d0;
  --mint-7: #7ecfbd;
  --mint-8: #4cbba5;
  --mint-9: #86ead4;
  --mint-a1: #00d5aa06;
  --mint-a10: #00c39982;
  --mint-a11: #007763fd;
  --mint-a12: #00312ae9;
  --mint-a2: #00b18a0d;
  --mint-a3: #00d29e22;
  --mint-a4: #00cc9937;
  --mint-a5: #00c0914c;
  --mint-a6: #00b08663;
  --mint-a7: #00a17d81;
  --mint-a8: #009e7fb3;
  --mint-a9: #00d3a579;
  --mint-contrast: #1a211e;
  --mint-indicator: #86ead4;
  --mint-surface: #effaf8cc;
  --mint-track: #86ead4;
  --olive-1: #fcfdfc;
  --olive-10: #7f847d;
  --olive-11: #60655f;
  --olive-12: #1d211c;
  --olive-2: #f8faf8;
  --olive-3: #eff1ef;
  --olive-4: #e7e9e7;
  --olive-5: #dfe2df;
  --olive-6: #d7dad7;
  --olive-7: #cccfcc;
  --olive-8: #b9bcb8;
  --olive-9: #898e87;
  --olive-a1: #00550003;
  --olive-a10: #040e0082;
  --olive-a11: #020a00a0;
  --olive-a12: #010600e3;
  --olive-a2: #00490007;
  --olive-a3: #00200010;
  --olive-a4: #00160018;
  --olive-a5: #00180020;
  --olive-a6: #00140028;
  --olive-a7: #000f0033;
  --olive-a8: #040f0047;
  --olive-a9: #050f0078;
  --olive-contrast: white;
  --olive-indicator: #898e87;
  --olive-surface: #ffffffcc;
  --olive-track: #898e87;
  --orange-1: #fefcfb;
  --orange-10: #ef5f00;
  --orange-11: #cc4e00;
  --orange-12: #582d1d;
  --orange-2: #fff7ed;
  --orange-3: #ffefd6;
  --orange-4: #ffdfb5;
  --orange-5: #ffd19a;
  --orange-6: #ffc182;
  --orange-7: #f5ae73;
  --orange-8: #ec9455;
  --orange-9: #f76b15;
  --orange-a1: #c0400004;
  --orange-a10: #ef5f00;
  --orange-a11: #cc4e00;
  --orange-a12: #431200e2;
  --orange-a2: #ff8e0012;
  --orange-a3: #ff9c0029;
  --orange-a4: #ff91014a;
  --orange-a5: #ff8b0065;
  --orange-a6: #ff81007d;
  --orange-a7: #ed6c008c;
  --orange-a8: #e35f00aa;
  --orange-a9: #f65e00ea;
  --orange-contrast: white;
  --orange-indicator: #f76b15;
  --orange-surface: #fff5e9cc;
  --orange-track: #f76b15;
  --pink-1: #fffcfe;
  --pink-10: #cf3897;
  --pink-11: #c2298a;
  --pink-12: #651249;
  --pink-2: #fef7fb;
  --pink-3: #fee9f5;
  --pink-4: #fbdcef;
  --pink-5: #f6cee7;
  --pink-6: #efbfdd;
  --pink-7: #e7acd0;
  --pink-8: #dd93c2;
  --pink-9: #d6409f;
  --pink-a1: #ff00aa03;
  --pink-a10: #c2007ac7;
  --pink-a11: #b60074d6;
  --pink-a12: #59003bed;
  --pink-a2: #e0008008;
  --pink-a3: #f4008c16;
  --pink-a4: #e2008b23;
  --pink-a5: #d1008331;
  --pink-a6: #c0007840;
  --pink-a7: #b6006f53;
  --pink-a8: #af006f6c;
  --pink-a9: #c8007fbf;
  --pink-contrast: white;
  --pink-indicator: #d6409f;
  --pink-surface: #fef5facc;
  --pink-track: #d6409f;
  --plum-1: #fefcff;
  --plum-10: #a144af;
  --plum-11: #953ea3;
  --plum-12: #53195d;
  --plum-2: #fdf7fd;
  --plum-3: #fbebfb;
  --plum-4: #f7def8;
  --plum-5: #f2d1f3;
  --plum-6: #e9c2ec;
  --plum-7: #deade3;
  --plum-8: #cf91d8;
  --plum-9: #ab4aba;
  --plum-a1: #aa00ff03;
  --plum-a10: #7f0092bb;
  --plum-a11: #730086c1;
  --plum-a12: #40004be6;
  --plum-a2: #c000c008;
  --plum-a3: #cc00cc14;
  --plum-a4: #c200c921;
  --plum-a5: #b700bd2e;
  --plum-a6: #a400b03d;
  --plum-a7: #9900a852;
  --plum-a8: #9000a56e;
  --plum-a9: #89009eb5;
  --plum-contrast: white;
  --plum-indicator: #ab4aba;
  --plum-surface: #fdf5fdcc;
  --plum-track: #ab4aba;
  --progress-indicator-after-linear-gradient: rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3);
  --purple-1: #fefcfe;
  --purple-10: #8347b9;
  --purple-11: #8145b5;
  --purple-12: #402060;
  --purple-2: #fbf7fe;
  --purple-3: #f7edfe;
  --purple-4: #f2e2fc;
  --purple-5: #ead5f9;
  --purple-6: #e0c4f4;
  --purple-7: #d1afec;
  --purple-8: #be93e4;
  --purple-9: #8e4ec6;
  --purple-a1: #aa00aa03;
  --purple-a10: #53009eb8;
  --purple-a11: #52009aba;
  --purple-a12: #250049df;
  --purple-a2: #8000e008;
  --purple-a3: #8e00f112;
  --purple-a4: #8d00e51d;
  --purple-a5: #8000db2a;
  --purple-a6: #7a01d03b;
  --purple-a7: #6d00c350;
  --purple-a8: #6600c06c;
  --purple-a9: #5c00adb1;
  --purple-contrast: white;
  --purple-indicator: #8e4ec6;
  --purple-surface: #faf5fecc;
  --purple-track: #8e4ec6;
  --quote-font-family: 'Times New Roman', 'Times', serif;
  --quote-font-size-adjust: 1.18;
  --quote-font-style: italic;
  --quote-font-weight: inherit;
  --quote-letter-spacing: -0.025em;
  --radius-1: calc(3px * 1 * 1);
  --radius-2: calc(4px * 1 * 1);
  --radius-3: calc(6px * 1 * 1);
  --radius-4: calc(8px * 1 * 1);
  --radius-5: calc(12px * 1 * 1);
  --radius-6: calc(16px * 1 * 1);
  --radius-factor: 1;
  --radius-full: 0px;
  --radius-thumb: 9999px;
  --red-1: #fffcfc;
  --red-10: #dc3e42;
  --red-11: #ce2c31;
  --red-12: #641723;
  --red-2: #fff7f7;
  --red-3: #feebec;
  --red-4: #ffdbdc;
  --red-5: #ffcdce;
  --red-6: #fdbdbe;
  --red-7: #f4a9aa;
  --red-8: #eb8e90;
  --red-9: #e5484d;
  --red-a1: #ff000003;
  --red-a10: #d10005c1;
  --red-a11: #c40006d3;
  --red-a12: #55000de8;
  --red-a2: #ff000008;
  --red-a3: #f3000d14;
  --red-a4: #ff000824;
  --red-a5: #ff000632;
  --red-a6: #f8000442;
  --red-a7: #df000356;
  --red-a8: #d2000571;
  --red-a9: #db0007b7;
  --red-contrast: white;
  --red-indicator: #e5484d;
  --red-surface: #fff5f5cc;
  --red-track: #e5484d;
  --ruby-1: #fffcfd;
  --ruby-10: #dc3b5d;
  --ruby-11: #ca244d;
  --ruby-12: #64172b;
  --ruby-2: #fff7f8;
  --ruby-3: #feeaed;
  --ruby-4: #ffdce1;
  --ruby-5: #ffced6;
  --ruby-6: #f8bfc8;
  --ruby-7: #efacb8;
  --ruby-8: #e592a3;
  --ruby-9: #e54666;
  --ruby-a1: #ff005503;
  --ruby-a10: #d2002cc4;
  --ruby-a11: #c10030db;
  --ruby-a12: #550016e8;
  --ruby-a2: #ff002008;
  --ruby-a3: #f3002515;
  --ruby-a4: #ff002523;
  --ruby-a5: #ff002a31;
  --ruby-a6: #e4002440;
  --ruby-a7: #ce002553;
  --ruby-a8: #c300286d;
  --ruby-a9: #db002cb9;
  --ruby-contrast: white;
  --ruby-indicator: #e54666;
  --ruby-surface: #fff5f6cc;
  --ruby-track: #e54666;
  --sage-1: #fbfdfc;
  --sage-10: #7c8481;
  --sage-11: #5f6563;
  --sage-12: #1a211e;
  --sage-2: #f7f9f8;
  --sage-3: #eef1f0;
  --sage-4: #e6e9e8;
  --sage-5: #dfe2e0;
  --sage-6: #d7dad9;
  --sage-7: #cbcfcd;
  --sage-8: #b8bcba;
  --sage-9: #868e8b;
  --sage-a1: #00804004;
  --sage-a10: #00100a83;
  --sage-a11: #000a07a0;
  --sage-a12: #000805e5;
  --sage-a2: #00402008;
  --sage-a3: #002d1e11;
  --sage-a4: #001f1519;
  --sage-a5: #00180820;
  --sage-a6: #00140d28;
  --sage-a7: #00140a34;
  --sage-a8: #000f0847;
  --sage-a9: #00110b79;
  --sage-contrast: white;
  --sage-indicator: #868e8b;
  --sage-surface: #ffffffcc;
  --sage-track: #868e8b;
  --sand-1: #fdfdfc;
  --sand-10: #82827c;
  --sand-11: #63635e;
  --sand-12: #21201c;
  --sand-2: #f9f9f8;
  --sand-3: #f1f0ef;
  --sand-4: #e9e8e6;
  --sand-5: #e2e1de;
  --sand-6: #dad9d6;
  --sand-7: #cfceca;
  --sand-8: #bcbbb5;
  --sand-9: #8d8d86;
  --sand-a1: #55550003;
  --sand-a10: #0c0c0083;
  --sand-a11: #080800a1;
  --sand-a12: #060500e3;
  --sand-a2: #25250007;
  --sand-a3: #20100010;
  --sand-a4: #1f150019;
  --sand-a5: #1f180021;
  --sand-a6: #19130029;
  --sand-a7: #19140035;
  --sand-a8: #1915014a;
  --sand-a9: #0f0f0079;
  --sand-contrast: white;
  --sand-indicator: #8d8d86;
  --sand-surface: #ffffffcc;
  --sand-track: #8d8d86;
  --scaling: 1;
  --scrollarea-scrollbar-horizontal-margin-bottom: calc(4px * 1);
  --scrollarea-scrollbar-horizontal-margin-left: calc(4px * 1);
  --scrollarea-scrollbar-horizontal-margin-right: calc(4px * 1);
  --scrollarea-scrollbar-horizontal-margin-top: calc(4px * 1);
  --scrollarea-scrollbar-vertical-margin-bottom: calc(4px * 1);
  --scrollarea-scrollbar-vertical-margin-left: calc(4px * 1);
  --scrollarea-scrollbar-vertical-margin-right: calc(4px * 1);
  --scrollarea-scrollbar-vertical-margin-top: calc(4px * 1);
  --segmented-control-indicator-background-color: white;
  --segmented-control-transition-duration: 100ms;
  --select-trigger-classic-box-shadow: inset 0 0 0 1px #0009321f, inset 0 2px 1px rgba(255, 255, 255, 0.9), inset 0 -2px 1px #00002d17;
  --shadow-1: inset 0 0 0 1px #0009321f, inset 0 1.5px 2px 0 #00005506, inset 0 1.5px 2px 0 rgba(0, 0, 0, 0.1);
  --shadow-2: 0 0 0 1px color-mix(in oklab, #0000330f, #f0f0f3 25%), 0 0 0 0.5px rgba(0, 0, 0, 0.05), 0 1px 1px 0 #00005506, 0 2px 1px -1px rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.05);
  --shadow-3: 0 0 0 1px color-mix(in oklab, #0000330f, #f0f0f3 25%), 0 2px 3px -2px #0000330f, 0 3px 12px -4px rgba(0, 0, 0, 0.1), 0 4px 16px -8px rgba(0, 0, 0, 0.1);
  --shadow-4: 0 0 0 1px color-mix(in oklab, #0000330f, #f0f0f3 25%), 0 8px 40px rgba(0, 0, 0, 0.05), 0 12px 32px -16px #0000330f;
  --shadow-5: 0 0 0 1px color-mix(in oklab, #0000330f, #f0f0f3 25%), 0 12px 60px rgba(0, 0, 0, 0.15), 0 12px 32px -16px #0009321f;
  --shadow-6: 0 0 0 1px color-mix(in oklab, #0000330f, #f0f0f3 25%), 0 12px 60px rgba(0, 0, 0, 0.15), 0 16px 64px #00005506, 0 16px 36px -20px #00062e32;
  --sky-1: #f9feff;
  --sky-10: #74daf8;
  --sky-11: #00749e;
  --sky-12: #1d3e56;
  --sky-2: #f1fafd;
  --sky-3: #e1f6fd;
  --sky-4: #d1f0fa;
  --sky-5: #bee7f5;
  --sky-6: #a9daed;
  --sky-7: #8dcae3;
  --sky-8: #60b3d7;
  --sky-9: #7ce2fe;
  --sky-a1: #00d5ff06;
  --sky-a10: #00bcf38b;
  --sky-a11: #00749e;
  --sky-a12: #002540e2;
  --sky-a2: #00a4db0e;
  --sky-a3: #00b3ee1e;
  --sky-a4: #00ace42e;
  --sky-a5: #00a1d841;
  --sky-a6: #0092ca56;
  --sky-a7: #0089c172;
  --sky-a8: #0085bf9f;
  --sky-a9: #00c7fe83;
  --sky-contrast: #1c2024;
  --sky-indicator: #7ce2fe;
  --sky-surface: #eef9fdcc;
  --sky-track: #7ce2fe;
  --slate-1: #fcfcfd;
  --slate-10: #80838d;
  --slate-11: #60646c;
  --slate-12: #1c2024;
  --slate-2: #f9f9fb;
  --slate-3: #f0f0f3;
  --slate-4: #e8e8ec;
  --slate-5: #e0e1e6;
  --slate-6: #d9d9e0;
  --slate-7: #cdced6;
  --slate-8: #b9bbc6;
  --slate-9: #8b8d98;
  --slate-a1: #00005503;
  --slate-a10: #00071b7f;
  --slate-a11: #0007149f;
  --slate-a12: #000509e3;
  --slate-a2: #00005506;
  --slate-a3: #0000330f;
  --slate-a4: #00002d17;
  --slate-a5: #0009321f;
  --slate-a6: #00002f26;
  --slate-a7: #00062e32;
  --slate-a8: #00083046;
  --slate-a9: #00051d74;
  --slate-contrast: white;
  --slate-indicator: #8b8d98;
  --slate-surface: #ffffffcc;
  --slate-track: #8b8d98;
  --slider-disabled-blend-mode: multiply;
  --slider-range-high-contrast-background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  --space-1: calc(4px * 1);
  --space-2: calc(8px * 1);
  --space-3: calc(12px * 1);
  --space-4: calc(16px * 1);
  --space-5: calc(24px * 1);
  --space-6: calc(32px * 1);
  --space-7: calc(40px * 1);
  --space-8: calc(48px * 1);
  --space-9: calc(64px * 1);
  --spinner-animation-duration: 800ms;
  --spinner-opacity: 0.65;
  --strong-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI (Custom)', Roboto, 'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --strong-font-size-adjust: 1;
  --strong-font-style: inherit;
  --strong-font-weight: 700;
  --strong-letter-spacing: 0em;
  --switch-disabled-blend-mode: multiply;
  --switch-high-contrast-checked-active-before-filter: contrast(0.82) saturate(1.2) brightness(1.16);
  --switch-high-contrast-checked-color-overlay: rgba(0, 0, 0, 0.6);
  --switch-surface-checked-active-filter: brightness(0.92) saturate(1.1);
  --tab-active-letter-spacing: -0.01em;
  --tab-active-word-spacing: 0em;
  --tab-inactive-letter-spacing: 0em;
  --tab-inactive-word-spacing: 0em;
  --teal-1: #fafefd;
  --teal-10: #0d9b8a;
  --teal-11: #008573;
  --teal-12: #0d3d38;
  --teal-2: #f3fbf9;
  --teal-3: #e0f8f3;
  --teal-4: #ccf3ea;
  --teal-5: #b8eae0;
  --teal-6: #a1ded2;
  --teal-7: #83cdc1;
  --teal-8: #53b9ab;
  --teal-9: #12a594;
  --teal-a1: #00cc9905;
  --teal-a10: #009684f2;
  --teal-a11: #008573;
  --teal-a12: #00332df2;
  --teal-a2: #00aa800c;
  --teal-a3: #00c69d1f;
  --teal-a4: #00c39633;
  --teal-a5: #00b49047;
  --teal-a6: #00a6855e;
  --teal-a7: #0099807c;
  --teal-a8: #009783ac;
  --teal-a9: #009e8ced;
  --teal-contrast: white;
  --teal-indicator: #12a594;
  --teal-surface: #f0faf8cc;
  --teal-track: #12a594;
  --tomato-1: #fffcfc;
  --tomato-10: #dd4425;
  --tomato-11: #d13415;
  --tomato-12: #5c271f;
  --tomato-2: #fff8f7;
  --tomato-3: #feebe7;
  --tomato-4: #ffdcd3;
  --tomato-5: #ffcdc2;
  --tomato-6: #fdbdaf;
  --tomato-7: #f5a898;
  --tomato-8: #ec8e7b;
  --tomato-9: #e54d2e;
  --tomato-a1: #ff000003;
  --tomato-a10: #d72400da;
  --tomato-a11: #cd2200ea;
  --tomato-a12: #460900e0;
  --tomato-a2: #ff200008;
  --tomato-a3: #f52b0018;
  --tomato-a4: #ff35002c;
  --tomato-a5: #ff2e003d;
  --tomato-a6: #f92d0050;
  --tomato-a7: #e7280067;
  --tomato-a8: #db250084;
  --tomato-a9: #df2600d1;
  --tomato-contrast: white;
  --tomato-indicator: #e54d2e;
  --tomato-surface: #fff6f5cc;
  --tomato-track: #e54d2e;
  --violet-1: #fdfcfe;
  --violet-10: #654dc4;
  --violet-11: #6550b9;
  --violet-12: #2f265f;
  --violet-2: #faf8ff;
  --violet-3: #f4f0fe;
  --violet-4: #ebe4ff;
  --violet-5: #e1d9ff;
  --violet-6: #d4cafe;
  --violet-7: #c2b5f5;
  --violet-8: #aa99ec;
  --violet-9: #6e56cf;
  --violet-a1: #5500aa03;
  --violet-a10: #2300abb2;
  --violet-a11: #1f0099af;
  --violet-a12: #0b0043d9;
  --violet-a2: #4900ff07;
  --violet-a3: #4400ee0f;
  --violet-a4: #4300ff1b;
  --violet-a5: #3600ff26;
  --violet-a6: #3100fb35;
  --violet-a7: #2d01dd4a;
  --violet-a8: #2b00d066;
  --violet-a9: #2400b7a9;
  --violet-contrast: white;
  --violet-indicator: #6e56cf;
  --violet-surface: #f9f6ffcc;
  --violet-track: #6e56cf;
  --white-a1: rgba(255, 255, 255, 0.05);
  --white-a10: rgba(255, 255, 255, 0.8);
  --white-a11: rgba(255, 255, 255, 0.9);
  --white-a12: rgba(255, 255, 255, 0.95);
  --white-a2: rgba(255, 255, 255, 0.1);
  --white-a3: rgba(255, 255, 255, 0.15);
  --white-a4: rgba(255, 255, 255, 0.2);
  --white-a5: rgba(255, 255, 255, 0.3);
  --white-a6: rgba(255, 255, 255, 0.4);
  --white-a7: rgba(255, 255, 255, 0.5);
  --white-a8: rgba(255, 255, 255, 0.6);
  --white-a9: rgba(255, 255, 255, 0.7);
  --yellow-1: #fdfdf9;
  --yellow-10: #ffdc00;
  --yellow-11: #9e6c00;
  --yellow-12: #473b1f;
  --yellow-2: #fefce9;
  --yellow-3: #fffab8;
  --yellow-4: #fff394;
  --yellow-5: #ffe770;
  --yellow-6: #f3d768;
  --yellow-7: #e4c767;
  --yellow-8: #d5ae39;
  --yellow-9: #ffe629;
  --yellow-a1: #aaaa0006;
  --yellow-a10: #ffdc00;
  --yellow-a11: #9e6c00;
  --yellow-a12: #2e2000e0;
  --yellow-a2: #f4dd0016;
  --yellow-a3: #ffee0047;
  --yellow-a4: #ffe3016b;
  --yellow-a5: #ffd5008f;
  --yellow-a6: #ebbc0097;
  --yellow-a7: #d2a10098;
  --yellow-a8: #c99700c6;
  --yellow-a9: #ffe100d6;
  --yellow-contrast: #21201c;
  --yellow-indicator: #ffdc00;
  --yellow-surface: #fefbe4cc;
  --yellow-track: #ffdc00;
}
