[data-cf="pseudo-placeholder"] { display: flex; }
[data-cf="pseudo-placeholder"] .cf-a { border: 1px solid rgb(190, 190, 190); }
[data-cf="pseudo-placeholder"] .cf-a::placeholder { color: rgb(150, 150, 150); }
