:root {
  --animation-duration-2: 0.2s;
  --animation-duration-4: 0.4s;
  --animation-duration-6: 0.6s;
  --animation-duration-8: 0.8s;
  --animation-timing-cubic-bezier: cubic-bezier(0.15,0.99,0.18,0.99);
  --animation-timing-ease: ease;
  --animation-timing-linear: linear;
  --base-font: 1rem;
  --base-space: 0.5rem;
  --border-radius-2: 2px;
  --border-radius-4: 4px;
  --border-radius-6: 6px;
  --border-radius-8: 8px;
  --border-radius-round: 50%;
  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-4: 4px;
  --box-shadow-16: 0px 16px 16px 0px rgba(217, 217, 217, 0.2), 0px 8px 8px 0px rgba(217, 217, 217, 0.2), 0px 4px 4px 0px rgba(217, 217, 217, 0.2), 0px 2px 2px 0px rgba(217, 217, 217, 0.2);
  --box-shadow-2: 0px 2px 2px 0px rgba(217, 217, 217, 0.2);
  --box-shadow-32: 0px 32px 32px 0px rgba(217, 217, 217, 0.2), 0px 16px 16px 0px rgba(217, 217, 217, 0.2), 0px 8px 8px 0px rgba(217, 217, 217, 0.2), 0px 4px 4px 0px rgba(217, 217, 217, 0.2), 0px 2px 2px 0px rgba(217, 217, 217, 0.2);
  --box-shadow-4: 0px 4px 4px 0px rgba(217, 217, 217, 0.2), 0px 2px 2px 0px rgba(217, 217, 217, 0.2);
  --box-shadow-48: 0px 48px 48px 0px rgba(217, 217, 217, 0.2), 0px 32px 32px 0px rgba(217, 217, 217, 0.2), 0px 16px 16px 0px rgba(217, 217, 217, 0.2), 0px 8px 8px 0px rgba(217, 217, 217, 0.2), 0px 4px 4px 0px rgba(217, 217, 217, 0.2), 0px 2px 2px 0px rgba(217, 217, 217, 0.2);
  --box-shadow-8: 0px 8px 8px 0px rgba(217, 217, 217, 0.2), 0px 4px 4px 0px rgba(217, 217, 217, 0.2), 0px 2px 2px 0px rgba(217, 217, 217, 0.2);
  --color-brand-blue-100: #dbe5ff;
  --color-brand-blue-200: #b3c7ff;
  --color-brand-blue-300: #8fadff;
  --color-brand-blue-400: #6b93ff;
  --color-brand-blue-500: #4375ff;
  --color-brand-blue-600: #2f62ef;
  --color-brand-blue-700: #2d56ca;
  --color-brand-blue-800: #0c3197;
  --color-brand-blue-900: #000b29;
  --color-brand-green-100: #c7ffe1;
  --color-brand-green-200: #8fffc3;
  --color-brand-green-300: #5ff6a6;
  --color-brand-green-400: #3ee48c;
  --color-brand-green-500: #36b370;
  --color-brand-green-600: #17a65a;
  --color-brand-green-700: #078341;
  --color-brand-green-800: #005c2b;
  --color-brand-green-900: #00190c;
  --color-brand-orange-100: #ffeecc;
  --color-brand-orange-200: #ffdd99;
  --color-brand-orange-300: #ffcc66;
  --color-brand-orange-400: #ffbb33;
  --color-brand-orange-500: #ffab00;
  --color-brand-orange-600: #cc8800;
  --color-brand-orange-700: #996600;
  --color-brand-orange-800: #664400;
  --color-brand-orange-900: #191100;
  --color-brand-red-100: #ffded6;
  --color-brand-red-200: #ffb8a8;
  --color-brand-red-300: #ff9780;
  --color-brand-red-400: #ff7152;
  --color-brand-red-500: #f05735;
  --color-brand-red-600: #eb2b00;
  --color-brand-red-700: #b32100;
  --color-brand-red-800: #751600;
  --color-brand-red-900: #1f0600;
  --color-brand-taupe-100: #f5eee0;
  --color-brand-taupe-200: #e6dac1;
  --color-brand-taupe-300: #d5c7aa;
  --color-brand-taupe-400: #c0b191;
  --color-brand-taupe-500: #a49981;
  --color-brand-taupe-600: #958156;
  --color-brand-taupe-700: #78643b;
  --color-brand-taupe-800: #534422;
  --color-brand-taupe-900: #191306;
  --color-brand-teal-100: #e9f1f1;
  --color-brand-teal-200: #d1e1e1;
  --color-brand-teal-300: #bbd3d3;
  --color-brand-teal-400: #a2c2c3;
  --color-brand-teal-500: #8bb3b4;
  --color-brand-teal-600: #649a9b;
  --color-brand-teal-700: #4c7576;
  --color-brand-teal-800: #324d4d;
  --color-brand-teal-900: #0c1213;
  --color-neutral-dark-100: #d9d9d9;
  --color-neutral-dark-200: #b0b0b0;
  --color-neutral-dark-300: #8a8a8a;
  --color-neutral-dark-400: #616161;
  --color-neutral-dark-500: #3a3a3a;
  --color-neutral-dark-600: #2e2e2e;
  --color-neutral-dark-700: #181818;
  --color-neutral-dark-800: #101010;
  --color-neutral-dark-900: #000000;
  --color-neutral-light-100: #ffffff;
  --color-neutral-light-200: #f8f8f6;
  --color-neutral-light-300: #f4f3f1;
  --color-neutral-light-400: #f2f1ee;
  --color-neutral-light-500: #edece8;
  --color-neutral-light-600: #e9e7e2;
  --color-neutral-light-700: #e6e5e0;
  --color-neutral-light-800: #e2e0da;
  --color-neutral-light-900: #bdb39e;
  --color-shadow-dark: rgba(0, 0, 0, 0.6);
  --color-shadow-light: rgba(217, 217, 217, 0.2);
  --color-transparent-dark-0: rgba(0, 0, 0, 0);
  --color-transparent-dark-10: rgba(0, 0, 0, 0.1);
  --color-transparent-dark-20: rgba(0, 0, 0, 0.2);
  --color-transparent-dark-30: rgba(0, 0, 0, 0.3);
  --color-transparent-dark-40: rgba(0, 0, 0, 0.4);
  --color-transparent-dark-50: rgba(0, 0, 0, 0.5);
  --color-transparent-dark-60: rgba(0, 0, 0, 0.6);
  --color-transparent-dark-70: rgba(0, 0, 0, 0.7);
  --color-transparent-dark-80: rgba(0, 0, 0, 0.8);
  --color-transparent-dark-90: rgba(0, 0, 0, 0.9);
  --color-transparent-light-0: rgba(255, 255, 255, 0);
  --color-transparent-light-10: rgba(255, 255, 255, 0.1);
  --color-transparent-light-20: rgba(255, 255, 255, 0.2);
  --color-transparent-light-30: rgba(255, 255, 255, 0.3);
  --color-transparent-light-40: rgba(255, 255, 255, 0.4);
  --color-transparent-light-50: rgba(255, 255, 255, 0.5);
  --color-transparent-light-60: rgba(255, 255, 255, 0.6);
  --color-transparent-light-70: rgba(255, 255, 255, 0.7);
  --color-transparent-light-80: rgba(255, 255, 255, 0.8);
  --color-transparent-light-90: rgba(255, 255, 255, 0.9);
  --font-family-primary: IBM Plex Sans;
  --font-family-secondary: Agrandir;
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-32: 32px;
  --font-size-36: 36px;
  --font-size-48: 48px;
  --font-size-64: 64px;
  --font-weight-bold: 600;
  --font-weight-regular: 400;
  --icon-12: 12px;
  --icon-16: 16px;
  --icon-20: 20px;
  --icon-24: 24px;
  --icon-32: 32px;
  --icon-36: 36px;
  --icon-40: 40px;
  --icon-8: 8px;
  --layout-max-width-1000: 1000px;
  --layout-max-width-1260: 1260px;
  --layout-max-width-1440: 1440px;
  --layout-max-width-320: 320px;
  --layout-max-width-600: 600px;
  --layout-max-width-800: 800px;
  --letter-spacing-0: 0%;
  --letter-spacing-1: 1%;
  --line-height-14: 14px;
  --line-height-20: 20px;
  --line-height-24: 24px;
  --line-height-28: 28px;
  --line-height-32: 32px;
  --line-height-36: 36px;
  --line-height-40: 40px;
  --line-height-44: 44px;
  --line-height-52: 52px;
  --opacity-0: 0;
  --opacity-100: 1;
  --opacity-24: 0.24;
  --opacity-40: 0.4;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-2: 0.125rem;
  --space-20: 1.25rem;
  --space-24: 1.5rem;
  --space-28: 1.75rem;
  --space-32: 2rem;
  --space-36: 2.25rem;
  --space-4: 0.25rem;
  --space-40: 2.5rem;
  --space-44: 2.75rem;
  --space-48: 3rem;
  --space-52: 3.25rem;
  --space-56: 3.5rem;
  --space-60: 3.75rem;
  --space-64: 4rem;
  --space-8: 0.5rem;
  --text-decoration-none: none;
  --theme-animation-duration: 0.2s;
  --theme-animation-duration-long: 0.4s;
  --theme-animation-timing: cubic-bezier(0.15,0.99,0.18,0.99);
  --theme-border-radius: 4px;
  --theme-border-radius-lg: 8px;
  --theme-border-radius-md: 6px;
  --theme-border-radius-round: 50%;
  --theme-border-radius-sm: 2px;
  --theme-border-width: 1px;
  --theme-border-width-lg: 4px;
  --theme-border-width-md: 2px;
  --theme-box-shadow: 0px 8px 8px 0px rgba(217, 217, 217, 0.2), 0px 4px 4px 0px rgba(217, 217, 217, 0.2), 0px 2px 2px 0px rgba(217, 217, 217, 0.2);
  --theme-box-shadow-lg: 0px 32px 32px 0px rgba(217, 217, 217, 0.2), 0px 16px 16px 0px rgba(217, 217, 217, 0.2), 0px 8px 8px 0px rgba(217, 217, 217, 0.2), 0px 4px 4px 0px rgba(217, 217, 217, 0.2), 0px 2px 2px 0px rgba(217, 217, 217, 0.2);
  --theme-box-shadow-md: 0px 16px 16px 0px rgba(217, 217, 217, 0.2), 0px 8px 8px 0px rgba(217, 217, 217, 0.2), 0px 4px 4px 0px rgba(217, 217, 217, 0.2), 0px 2px 2px 0px rgba(217, 217, 217, 0.2);
  --theme-box-shadow-sm: 0px 4px 4px 0px rgba(217, 217, 217, 0.2), 0px 2px 2px 0px rgba(217, 217, 217, 0.2);
  --theme-box-shadow-xl: 0px 48px 48px 0px rgba(217, 217, 217, 0.2), 0px 32px 32px 0px rgba(217, 217, 217, 0.2), 0px 16px 16px 0px rgba(217, 217, 217, 0.2), 0px 8px 8px 0px rgba(217, 217, 217, 0.2), 0px 4px 4px 0px rgba(217, 217, 217, 0.2), 0px 2px 2px 0px rgba(217, 217, 217, 0.2);
  --theme-box-shadow-xs: 0px 2px 2px 0px rgba(217, 217, 217, 0.2);
  --theme-color-background-danger-default: #f05735;
  --theme-color-background-danger-strong: #ff7152;
  --theme-color-background-default: #e9e7e2;
  --theme-color-background-default-strong: #f2f1ee;
  --theme-color-background-default-stronger: #f4f3f1;
  --theme-color-background-default-weak: #e2e0da;
  --theme-color-background-disabled-default: #b0b0b0;
  --theme-color-background-info-default: #4375ff;
  --theme-color-background-inverse-default: #000000;
  --theme-color-background-inverse-strong: #101010;
  --theme-color-background-primary-default: #4375ff;
  --theme-color-background-primary-strong: #6b93ff;
  --theme-color-background-secondary-default: #a49981;
  --theme-color-background-secondary-strong: #c0b191;
  --theme-color-background-success-default: #3ee48c;
  --theme-color-background-transparent-default: rgba(0, 0, 0, 0);
  --theme-color-background-transparent-strong: rgba(0, 0, 0, 0.6);
  --theme-color-background-transparent-weak: rgba(255, 255, 255, 0.1);
  --theme-color-background-warning-default: #ffab00;
  --theme-color-body-background: #e2e0da;
  --theme-color-border-danger-default: #f05735;
  --theme-color-border-default: #b0b0b0;
  --theme-color-border-default-strong: #bdb39e;
  --theme-color-border-default-weak: #d9d9d9;
  --theme-color-border-disabled-default: #b0b0b0;
  --theme-color-border-inverse-default: #d9d9d9;
  --theme-color-border-primary-default: #4375ff;
  --theme-color-border-secondary-default: #a49981;
  --theme-color-content-danger-default: #f05735;
  --theme-color-content-danger-weak: #1f0600;
  --theme-color-content-default: #101010;
  --theme-color-content-default-weak: #3a3a3a;
  --theme-color-content-disabled-default: #616161;
  --theme-color-content-info-default: #4375ff;
  --theme-color-content-info-weak: #000b29;
  --theme-color-content-inverse-default: #ffffff;
  --theme-color-content-inverse-strong: #f8f8f6;
  --theme-color-content-primary-default: #4375ff;
  --theme-color-content-primary-strong: #6b93ff;
  --theme-color-content-primary-weak: #000b29;
  --theme-color-content-secondary-default: #a49981;
  --theme-color-content-secondary-strong: #c0b191;
  --theme-color-content-secondary-weak: #191306;
  --theme-color-content-success-default: #36b370;
  --theme-color-content-success-weak: #00190c;
  --theme-color-content-warning-default: #ffab00;
  --theme-color-content-warning-weak: #191100;
  --theme-color-header-background: #f2f1ee;
  --theme-color-shadow-default: rgba(217, 217, 217, 0.2);
  --theme-icon: 16px;
  --theme-icon-lg: 24px;
  --theme-icon-md: 20px;
  --theme-icon-sm: 12px;
  --theme-icon-xl: 32px;
  --theme-icon-xs: 8px;
  --theme-icon-xxl: 36px;
  --theme-icon-xxxl: 40px;
  --theme-layout-height-header: 80px;
  --theme-layout-max-width: 1260px;
  --theme-layout-max-width-lg: 1000px;
  --theme-layout-max-width-md: 800px;
  --theme-layout-max-width-sm: 600px;
  --theme-layout-max-width-xs: 320px;
  --theme-layout-max-width-xxl: 1440px;
  --theme-layout-width-container: 1260px;
  --theme-layout-width-sidebar: 320px;
  --theme-opacity-disabled: 0.4;
  --theme-space: 1rem;
  --theme-space-lg: 1.5rem;
  --theme-space-md: 1.25rem;
  --theme-space-sm: 0.75rem;
  --theme-space-super: 4rem;
  --theme-space-xl: 1.75rem;
  --theme-space-xs: 0.5rem;
  --theme-space-xxl: 2rem;
  --theme-space-xxs: 0.25rem;
  --theme-space-xxxl: 2.25rem;
  --theme-space-xxxs: 0.125rem;
  --theme-typography-body-lg: 400 1.125rem/1.75rem IBM Plex Sans, sans-serif;
  --theme-typography-body-lg-bold: 600 1.125rem/1.75rem IBM Plex Sans, sans-serif;
  --theme-typography-body-md: 400 1rem/1.5rem IBM Plex Sans, sans-serif;
  --theme-typography-body-md-bold: 600 1rem/1.5rem IBM Plex Sans, sans-serif;
  --theme-typography-body-sm: 400 0.875rem/1.25rem IBM Plex Sans, sans-serif;
  --theme-typography-body-sm-bold: 600 0.875rem/1.25rem IBM Plex Sans, sans-serif;
  --theme-typography-body-xs: 400 0.75rem/1.25rem IBM Plex Sans, sans-serif;
  --theme-typography-body-xs-bold: 600 0.75rem/1.25rem IBM Plex Sans, sans-serif;
  --theme-typography-display-lg: 400 3rem/3.25rem IBM Plex Sans, sans-serif;
  --theme-typography-display-lg-bold: 600 3rem/3.25rem IBM Plex Sans, sans-serif;
  --theme-typography-display-md: 400 2.25rem/2.75rem IBM Plex Sans, sans-serif;
  --theme-typography-display-md-bold: 600 2.25rem/2.75rem IBM Plex Sans, sans-serif;
  --theme-typography-display-sm: 400 2rem/2.5rem IBM Plex Sans, sans-serif;
  --theme-typography-display-sm-bold: 600 2rem/2.5rem IBM Plex Sans, sans-serif;
  --theme-typography-heading-lg: 400 1.75rem/2.25rem IBM Plex Sans, sans-serif;
  --theme-typography-heading-lg-bold: 600 1.75rem/2.25rem IBM Plex Sans, sans-serif;
  --theme-typography-heading-md: 400 1.5rem/2rem IBM Plex Sans, sans-serif;
  --theme-typography-heading-md-bold: 600 1.5rem/2rem IBM Plex Sans, sans-serif;
  --theme-typography-heading-sm: 400 1.25rem/1.75rem IBM Plex Sans, sans-serif;
  --theme-typography-heading-sm-bold: 600 1.25rem/1.75rem IBM Plex Sans, sans-serif;
  --typography-preset-12: 400 0.75rem/1.25rem IBM Plex Sans, sans-serif;
  --typography-preset-12-bold: 600 0.75rem/1.25rem IBM Plex Sans, sans-serif;
  --typography-preset-14: 400 0.875rem/1.25rem IBM Plex Sans, sans-serif;
  --typography-preset-14-bold: 600 0.875rem/1.25rem IBM Plex Sans, sans-serif;
  --typography-preset-16: 400 1rem/1.5rem IBM Plex Sans, sans-serif;
  --typography-preset-16-bold: 600 1rem/1.5rem IBM Plex Sans, sans-serif;
  --typography-preset-18: 400 1.125rem/1.75rem IBM Plex Sans, sans-serif;
  --typography-preset-18-bold: 600 1.125rem/1.75rem IBM Plex Sans, sans-serif;
  --typography-preset-20: 400 1.25rem/1.75rem IBM Plex Sans, sans-serif;
  --typography-preset-20-bold: 600 1.25rem/1.75rem IBM Plex Sans, sans-serif;
  --typography-preset-24: 400 1.5rem/2rem IBM Plex Sans, sans-serif;
  --typography-preset-24-bold: 600 1.5rem/2rem IBM Plex Sans, sans-serif;
  --typography-preset-36: 400 1.75rem/2.25rem IBM Plex Sans, sans-serif;
  --typography-preset-36-bold: 600 1.75rem/2.25rem IBM Plex Sans, sans-serif;
  --typography-preset-40: 400 2rem/2.5rem IBM Plex Sans, sans-serif;
  --typography-preset-40-bold: 600 2rem/2.5rem IBM Plex Sans, sans-serif;
  --typography-preset-44: 400 2.25rem/2.75rem IBM Plex Sans, sans-serif;
  --typography-preset-44-bold: 600 2.25rem/2.75rem IBM Plex Sans, sans-serif;
  --typography-preset-48: 400 3rem/3.25rem IBM Plex Sans, sans-serif;
  --typography-preset-48-bold: 600 3rem/3.25rem IBM Plex Sans, sans-serif;
  --z-index-0: 0;
  --z-index-100: 100;
  --z-index-200: 200;
  --z-index-300: 300;
  --z-index-400: 400;
  --z-index-500: 500;
  --z-index-bottom: -100;
  --z-index-top: 99999;
}
