[data-cf="svg-stroke-glyph-fill-none"] { display: inline-flex; align-items: center; gap: 6px; color: rgb(23, 23, 23); }
[data-cf="svg-stroke-glyph-fill-none"] .cf-a { display: block; }
[data-cf="svg-stroke-glyph-fill-none"] .cf-b { display: inline-block; }
