[data-cf="flex-align-items-center"] { display: flex; align-items: center; width: 180px; height: 56px; padding: 0 10px; background: rgb(244, 246, 248); }
[data-cf="flex-align-items-center"] .cf-a { width: 40px; height: 16px; background: rgb(25, 118, 210); }
[data-cf="flex-align-items-center"] .cf-b { width: 40px; height: 36px; background: rgb(144, 190, 240); }
