:root {
  --border-width: 1px;
  --color-accent: #262626;
  --color-accent-muted: #f1f1f1;
  --color-background-blue: #c4ddfb;
  --color-background-body: #f1f1f1;
  --color-background-card: #ffffff;
  --color-background-cyan: #a3e0ef;
  --color-background-error-inverted: #AA071E;
  --color-background-gray: #e5e5e5;
  --color-background-green: #c5e5c0;
  --color-background-inverted: #0A1317;
  --color-background-muted: #f1f1f1;
  --color-background-orange: #fad0b5;
  --color-background-pink: #fccadc;
  --color-background-popover: #ffffff;
  --color-background-purple: #eccef3;
  --color-background-red: #facecb;
  --color-background-surface: #ffffff;
  --color-background-teal: #a5e3d6;
  --color-background-yellow: #f8da9d;
  --color-border: #ebebeb;
  --color-border-blue: #b1c9e7;
  --color-border-cyan: #91d3e3;
  --color-border-emphasized: #d4d4d4;
  --color-border-gray: #d4d4d4;
  --color-border-green: #b2d1ac;
  --color-border-orange: #e6bda2;
  --color-border-pink: #e7b7c8;
  --color-border-purple: #d8bbdf;
  --color-border-red: #e6bab8;
  --color-border-teal: #94d6c8;
  --color-border-yellow: #e4c279;
  --color-error: #a50c25;
  --color-error-muted: #facecb;
  --color-icon-accent: #262626;
  --color-icon-blue: #00458c;
  --color-icon-cyan: #00505f;
  --color-icon-disabled: #a3a3a3;
  --color-icon-gray: #525252;
  --color-icon-green: #0c5700;
  --color-icon-orange: #6e3500;
  --color-icon-pink: #83004b;
  --color-icon-primary: #171717;
  --color-icon-purple: #700084;
  --color-icon-red: #89001a;
  --color-icon-secondary: #737373;
  --color-icon-teal: #005348;
  --color-icon-yellow: #584400;
  --color-neutral: #0000000F;
  --color-on-accent: #ffffff;
  --color-on-dark: #ffffff;
  --color-on-error: #ffffff;
  --color-on-light: #171717;
  --color-on-success: #ffffff;
  --color-on-warning: #171717;
  --color-overlay: #00000080;
  --color-overlay-hover: #0000000D;
  --color-overlay-pressed: #0000001A;
  --color-shadow: #0000001A;
  --color-skeleton: #ebebeb;
  --color-success: #007004;
  --color-success-muted: #c5e5c0;
  --color-text-accent: #262626;
  --color-text-blue: #00458c;
  --color-text-cyan: #00505f;
  --color-text-disabled: #a3a3a3;
  --color-text-gray: #262626;
  --color-text-green: #0c5700;
  --color-text-orange: #6e3500;
  --color-text-pink: #83004b;
  --color-text-primary: #171717;
  --color-text-purple: #700084;
  --color-text-red: #89001a;
  --color-text-secondary: #737373;
  --color-text-teal: #005348;
  --color-text-yellow: #584400;
  --color-tint-hover: black;
  --color-track: #CCD3DB;
  --color-warning: #745b00;
  --color-warning-muted: #f8da9d;
  --duration-fast: 125ms;
  --duration-fast-max: 165ms;
  --duration-fast-min: 95ms;
  --duration-medium: 300ms;
  --duration-medium-max: 400ms;
  --duration-medium-min: 225ms;
  --duration-slow: 700ms;
  --duration-slow-max: 935ms;
  --duration-slow-min: 525ms;
  --ease-standard: cubic-bezier(0.24, 1, 0.4, 1);
  --font-family-body: Figtree, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-family-code: ui-monospace, "SF Mono", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-heading: Figtree, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-size-2xl: 1.5rem;
  --font-size-2xs: 0.5rem;
  --font-size-3xl: 1.8125rem;
  --font-size-3xs: 0.4375rem;
  --font-size-4xl: 2.1875rem;
  --font-size-4xs: 0.375rem;
  --font-size-5xl: 2.625rem;
  --font-size-base: 0.875rem;
  --font-size-lg: 1.0625rem;
  --font-size-sm: 0.75rem;
  --font-size-xl: 1.25rem;
  --font-size-xs: 0.625rem;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --radius-chat: 28px;
  --radius-container: 0.75rem;
  --radius-element: 0.625rem;
  --radius-full: 9999px;
  --radius-inner: 0.375rem;
  --radius-none: 0.25rem;
  --radius-page: 1.75rem;
  --shadow-high: 0 4px 6px light-dark(oklch(0 0 0 / 10%), oklch(0 0 0 / 50%)), 0 12px 24px light-dark(oklch(0 0 0 / 15%), oklch(0 0 0 / 70%)), inset 0 0 0 1px light-dark(transparent, oklch(1 0 0 / 15%));
  --shadow-inset-error: inset 0px 0px 0px 2px #e33f4a4D;
  --shadow-inset-hover: inset 0px 0px 0px 2px #0074e24D;
  --shadow-inset-selected: inset 0px 0px 0px 2px #0074e280;
  --shadow-inset-success: inset 0px 0px 0px 2px #1981004D;
  --shadow-inset-warning: inset 0px 0px 0px 2px #ffce2f4D;
  --shadow-low: 0 2px 4px light-dark(oklch(0 0 0 / 5%), oklch(0 0 0 / 25%)), 0 4px 8px light-dark(oklch(0 0 0 / 10%), oklch(0 0 0 / 40%)), inset 0 0 0 1px light-dark(transparent, oklch(1 0 0 / 8%));
  --shadow-med: 0 2px 4px light-dark(oklch(0 0 0 / 5%), oklch(0 0 0 / 35%)), 0 4px 12px light-dark(oklch(0 0 0 / 10%), oklch(0 0 0 / 50%)), inset 0 0 0 1px light-dark(transparent, oklch(1 0 0 / 12%));
  --size-element-lg: 36px;
  --size-element-md: 32px;
  --size-element-sm: 28px;
  --spacing-0: 0px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-1-5: 6px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --text-body-leading: 1.4286;
  --text-body-size: 0.875rem;
  --text-body-weight: 400;
  --text-code-leading: 1.4286;
  --text-code-size: 0.875rem;
  --text-code-weight: 400;
  --text-display-1-leading: 1.2381;
  --text-display-1-size: 2.625rem;
  --text-display-1-weight: 400;
  --text-display-2-leading: 1.2571;
  --text-display-2-size: 2.1875rem;
  --text-display-2-weight: 400;
  --text-display-3-leading: 1.3793;
  --text-display-3-size: 1.8125rem;
  --text-display-3-weight: 400;
  --text-heading-1-leading: 1.3333;
  --text-heading-1-size: 1.5rem;
  --text-heading-1-weight: 600;
  --text-heading-2-leading: 1.4;
  --text-heading-2-size: 1.25rem;
  --text-heading-2-weight: 600;
  --text-heading-3-leading: 1.4118;
  --text-heading-3-size: 1.0625rem;
  --text-heading-3-weight: 700;
  --text-heading-4-leading: 1.4286;
  --text-heading-4-size: 0.875rem;
  --text-heading-4-weight: 700;
  --text-heading-5-leading: 1.6667;
  --text-heading-5-size: 0.75rem;
  --text-heading-5-weight: 600;
  --text-heading-6-leading: 1.6;
  --text-heading-6-size: 0.625rem;
  --text-heading-6-weight: 600;
  --text-label-leading: 1.4286;
  --text-label-size: 0.875rem;
  --text-label-weight: 500;
  --text-large-leading: 1.4118;
  --text-large-size: 1.0625rem;
  --text-large-weight: 600;
  --text-supporting-leading: 1.6667;
  --text-supporting-size: 0.75rem;
  --text-supporting-weight: 400;
  --transition-fast: 0.15s ease;
  --transition-normal: 0.2s ease;
}
