:root {
  --accent: #f5f5f5;
  --accent-foreground: #171717;
  --background: #ffffff;
  --blur-xs: 4px;
  --border: #e5e5e5;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --chart-1: #d4d4d4;
  --chart-2: #737373;
  --chart-3: #525252;
  --chart-4: #404040;
  --chart-5: #262626;
  --color-black: #000;
  --container-md: 28rem;
  --container-xs: 20rem;
  --default-font-family: 'Inter Variable', sans-serif;
  --default-mono-font-family: var(--font-mono);
  --default-transition-duration: 150ms;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --destructive: #e7000b;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-sans: 'Inter Variable', sans-serif;
  --font-weight-medium: 500;
  --foreground: #0a0a0a;
  --input: #e5e5e5;
  --leading-normal: 1.5;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --popover: #ffffff;
  --popover-foreground: #0a0a0a;
  --primary: #171717;
  --primary-foreground: #fafafa;
  --radius: 0.625rem;
  --radius-md: calc(var(--radius) - 2px);
  --ring: #a1a1a1;
  --secondary: #f5f5f5;
  --secondary-foreground: #171717;
  --shimmer-angle: 20deg;
  --sidebar: #fafafa;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #171717;
  --sidebar-border: #e5e5e5;
  --sidebar-foreground: #0a0a0a;
  --sidebar-primary: #171717;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-ring: #a1a1a1;
  --spacing: 0.25rem;
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
}
