[data-cf="grid-child-grow-invalid"] { display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 16px; width: 200px; background: rgb(242, 238, 238); }
[data-cf="grid-child-grow-invalid"] .cf-a { grid-row: 1; grid-column: 1; flex-grow: 1; background: rgb(228, 212, 212); }
[data-cf="grid-child-grow-invalid"] .cf-b { grid-row: 1; grid-column: 2; background: rgb(234, 220, 220); }
