:root {
  --imported-avatar-add-button-content-border-radius: 12px;
  --imported-avatar-add-button-content-padding-block: 4px;
  --imported-avatar-add-button-content-padding-inline: 4px;
  --imported-avatar-add-button-root-background-color: #ffffff;
  --imported-avatar-add-button-root-border-color: #d4d4d4;
  --imported-avatar-add-button-root-border-radius-md: 20px;
  --imported-avatar-add-button-root-border-radius-sm: 16px;
  --imported-avatar-add-button-root-border-radius-xs: 12px;
  --imported-avatar-add-button-root-border-width: 1px;
  --imported-avatar-add-button-state-disabled-opacity: 0.5;
  --imported-avatar-add-button-state-hover-background-color: #fafafa;
  --imported-avatar-group-avatars-gap-md: -12px;
  --imported-avatar-group-avatars-gap-sm: -8px;
  --imported-avatar-group-avatars-gap-xs: -4px;
  --imported-avatar-label-group-root-gap-lg: 12px;
  --imported-avatar-label-group-root-gap-md: 12px;
  --imported-avatar-label-group-root-gap-sm: 10px;
  --imported-avatar-label-group-root-gap-xl: 16px;
  --imported-avatar-label-group-text-and-supporting-text-supporting-text-color: #525252;
  --imported-avatar-label-group-text-and-supporting-text-supporting-text-font-size-lg: 16px;
  --imported-avatar-label-group-text-and-supporting-text-supporting-text-font-size-md: 14px;
  --imported-avatar-label-group-text-and-supporting-text-supporting-text-font-size-sm: 12px;
  --imported-avatar-label-group-text-and-supporting-text-supporting-text-font-size-xl: 16px;
  --imported-avatar-label-group-text-and-supporting-text-supporting-text-font-weight: 400;
  --imported-avatar-label-group-text-and-supporting-text-supporting-text-line-height-lg: 24px;
  --imported-avatar-label-group-text-and-supporting-text-supporting-text-line-height-md: 20px;
  --imported-avatar-label-group-text-and-supporting-text-supporting-text-line-height-sm: 18px;
  --imported-avatar-label-group-text-and-supporting-text-supporting-text-line-height-xl: 24px;
  --imported-avatar-label-group-text-and-supporting-text-text-color: #404040;
  --imported-avatar-label-group-text-and-supporting-text-text-font-size-lg: 16px;
  --imported-avatar-label-group-text-and-supporting-text-text-font-size-md: 14px;
  --imported-avatar-label-group-text-and-supporting-text-text-font-size-sm: 14px;
  --imported-avatar-label-group-text-and-supporting-text-text-font-size-xl: 18px;
  --imported-avatar-label-group-text-and-supporting-text-text-font-weight: 600;
  --imported-avatar-label-group-text-and-supporting-text-text-line-height-lg: 24px;
  --imported-avatar-label-group-text-and-supporting-text-text-line-height-md: 20px;
  --imported-avatar-label-group-text-and-supporting-text-text-line-height-sm: 20px;
  --imported-avatar-label-group-text-and-supporting-text-text-line-height-xl: 28px;
  --imported-avatar-root-border-radius: 200px;
  --imported-avatar-root-border-width-default: 0px;
  --imported-avatar-root-border-width-focused: 4px;
  --imported-avatar-root-border-width-hover: 0px;
  --imported-avatar-text-color: #7f56d9;
  --imported-avatar-text-font-size-2xl: 24px;
  --imported-avatar-text-font-size-lg: 18px;
  --imported-avatar-text-font-size-md: 16px;
  --imported-avatar-text-font-size-sm: 14px;
  --imported-avatar-text-font-size-xl: 20px;
  --imported-avatar-text-font-size-xs: 12px;
  --imported-avatar-text-font-weight: 500;
  --imported-avatar-text-line-height-2xl: 32px;
  --imported-avatar-text-line-height-lg: 28px;
  --imported-avatar-text-line-height-md: 24px;
  --imported-avatar-text-line-height-sm: 20px;
  --imported-avatar-text-line-height-xl: 30px;
  --imported-avatar-text-line-height-xs: 18px;
  --imported-badge-base-root-background-color: #f9f5ff;
  --imported-badge-base-root-border-radius: 16px;
  --imported-badge-base-root-padding-block-avatar: 2px;
  --imported-badge-base-root-padding-block-country: 2px;
  --imported-badge-base-root-padding-block-dot: 2px;
  --imported-badge-base-root-padding-block-false: 2px;
  --imported-badge-base-root-padding-block-iconLeft: 2px;
  --imported-badge-base-root-padding-block-iconRight: 2px;
  --imported-badge-base-root-padding-block-only: 4px;
  --imported-badge-base-root-padding-block-xClose: 2px;
  --imported-badge-base-text-color: #6941c6;
  --imported-badge-base-text-font-size: 12px;
  --imported-badge-base-text-font-weight: 500;
  --imported-badge-base-text-line-height: 18px;
  --imported-button-base-root-background-color: #7f56d9;
  --imported-button-base-root-border-color: #7f56d9;
  --imported-button-base-root-border-radius: 8px;
  --imported-button-base-root-border-width: 1px;
  --imported-button-base-root-box-shadow: 0px 1px 2px #0000000d;
  --imported-button-base-root-gap: 8px;
  --imported-button-base-root-padding-block-lg-dot: 10px;
  --imported-button-base-root-padding-block-lg-false: 10px;
  --imported-button-base-root-padding-block-lg-leading: 10px;
  --imported-button-base-root-padding-block-lg-only: 12px;
  --imported-button-base-root-padding-block-lg-trailing: 10px;
  --imported-button-base-root-padding-block-md-dot: 10px;
  --imported-button-base-root-padding-block-md-false: 10px;
  --imported-button-base-root-padding-block-md-leading: 10px;
  --imported-button-base-root-padding-block-md-only: 10px;
  --imported-button-base-root-padding-block-md-trailing: 10px;
  --imported-button-base-root-padding-block-sm-dot: 8px;
  --imported-button-base-root-padding-block-sm-false: 8px;
  --imported-button-base-root-padding-block-sm-leading: 8px;
  --imported-button-base-root-padding-block-sm-only: 8px;
  --imported-button-base-root-padding-block-sm-trailing: 8px;
  --imported-button-base-root-padding-block-xl-dot: 12px;
  --imported-button-base-root-padding-block-xl-false: 12px;
  --imported-button-base-root-padding-block-xl-leading: 12px;
  --imported-button-base-root-padding-block-xl-only: 14px;
  --imported-button-base-root-padding-block-xl-trailing: 12px;
  --imported-button-base-root-padding-inline-lg-dot: 18px;
  --imported-button-base-root-padding-inline-lg-false: 18px;
  --imported-button-base-root-padding-inline-lg-leading: 18px;
  --imported-button-base-root-padding-inline-lg-only: 12px;
  --imported-button-base-root-padding-inline-lg-trailing: 18px;
  --imported-button-base-root-padding-inline-md-dot: 16px;
  --imported-button-base-root-padding-inline-md-false: 16px;
  --imported-button-base-root-padding-inline-md-leading: 16px;
  --imported-button-base-root-padding-inline-md-only: 10px;
  --imported-button-base-root-padding-inline-md-trailing: 16px;
  --imported-button-base-root-padding-inline-sm-dot: 14px;
  --imported-button-base-root-padding-inline-sm-false: 14px;
  --imported-button-base-root-padding-inline-sm-leading: 14px;
  --imported-button-base-root-padding-inline-sm-only: 8px;
  --imported-button-base-root-padding-inline-sm-trailing: 14px;
  --imported-button-base-root-padding-inline-xl-dot: 20px;
  --imported-button-base-root-padding-inline-xl-false: 20px;
  --imported-button-base-root-padding-inline-xl-leading: 20px;
  --imported-button-base-root-padding-inline-xl-only: 14px;
  --imported-button-base-root-padding-inline-xl-trailing: 20px;
  --imported-button-base-text-color: #ffffff;
  --imported-button-base-text-font-size-lg: 16px;
  --imported-button-base-text-font-size-md: 14px;
  --imported-button-base-text-font-size-sm: 14px;
  --imported-button-base-text-font-size-xl: 16px;
  --imported-button-base-text-font-weight: 600;
  --imported-button-base-text-line-height-lg: 24px;
  --imported-button-base-text-line-height-md: 20px;
  --imported-button-base-text-line-height-sm: 20px;
  --imported-button-base-text-line-height-xl: 24px;
  --imported-button-group-base-root-border-color: #d4d4d4;
  --imported-button-group-base-root-padding-block: 10px;
  --imported-button-group-base-root-padding-inline-dot: 16px;
  --imported-button-group-base-root-padding-inline-false: 16px;
  --imported-button-group-base-root-padding-inline-leading: 16px;
  --imported-button-group-base-root-padding-inline-only: 12px;
  --imported-button-group-base-text-font-size: 14px;
  --imported-button-group-base-text-font-weight: 600;
  --imported-button-group-base-text-line-height: 20px;
  --imported-dropdown-list-item-content-gap: 12px;
  --imported-dropdown-list-item-content-text-color: #404040;
  --imported-dropdown-list-item-content-text-font-size: 14px;
  --imported-dropdown-list-item-content-text-line-height: 20px;
  --imported-dropdown-list-item-root-padding-block: 10px;
  --imported-dropdown-list-item-root-padding-inline: 16px;
  --imported-dropdown-list-item-root-width: 240px;
  --imported-dropdown-list-item-shortcut-color: #737373;
  --imported-dropdown-list-item-shortcut-font-size: 12px;
  --imported-dropdown-list-item-shortcut-font-weight: 400;
  --imported-dropdown-list-item-shortcut-line-height: 18px;
  --imported-dropdown-list-item-shortcut-state-disabled-color: #e5e5e5;
  --imported-dropdown-list-item-state-hover-background-color: #fafafa;
  --imported-input-field-base-hint-text-font-size: 14px;
  --imported-input-field-base-hint-text-line-height: 20px;
  --imported-input-field-base-input-with-label-gap: 6px;
  --imported-input-field-base-input-with-label-input-add-on-padding-block: 10px;
  --imported-input-field-base-input-with-label-input-background-color: #ffffff;
  --imported-input-field-base-input-with-label-input-border-radius: 8px;
  --imported-input-field-base-input-with-label-input-border-width: 1px;
  --imported-input-field-base-input-with-label-input-box-shadow: 0px 1px 2px #0000000d;
  --imported-input-field-base-input-with-label-input-content-gap: 8px;
  --imported-input-field-base-input-with-label-input-content-padding-block-default: 0px;
  --imported-input-field-base-input-with-label-input-content-padding-block-leadingDropdown: 0px;
  --imported-input-field-base-input-with-label-input-content-padding-block-leadingText: 0px;
  --imported-input-field-base-input-with-label-input-content-padding-block-paymentInput: 0px;
  --imported-input-field-base-input-with-label-input-content-padding-block-trailingDropdown: 10px;
  --imported-input-field-base-input-with-label-input-content-text-input-border-width-default: 0px;
  --imported-input-field-base-input-with-label-input-content-text-input-border-width-leadingDropdown: 0px;
  --imported-input-field-base-input-with-label-input-content-text-input-border-width-leadingText: 1px;
  --imported-input-field-base-input-with-label-input-content-text-input-border-width-paymentInput: 0px;
  --imported-input-field-base-input-with-label-input-content-text-input-border-width-trailingDropdown: 0px;
  --imported-input-field-base-input-with-label-input-content-text-input-padding-block-default: 10px;
  --imported-input-field-base-input-with-label-input-content-text-input-padding-block-leadingDropdown: 10px;
  --imported-input-field-base-input-with-label-input-content-text-input-padding-block-leadingText: 10px;
  --imported-input-field-base-input-with-label-input-content-text-input-padding-block-paymentInput: 10px;
  --imported-input-field-base-input-with-label-input-content-text-input-padding-block-trailingDropdown: 0px;
  --imported-input-field-base-input-with-label-input-dropdown-dropdown-text-color: #171717;
  --imported-input-field-base-input-with-label-input-dropdown-gap: 4px;
  --imported-input-field-base-input-with-label-input-dropdown-padding-block: 10px;
  --imported-input-field-base-input-with-label-input-gap-default: 8px;
  --imported-input-field-base-input-with-label-input-gap-leadingDropdown: 0px;
  --imported-input-field-base-input-with-label-input-gap-leadingText: 0px;
  --imported-input-field-base-input-with-label-input-gap-paymentInput: 8px;
  --imported-input-field-base-input-with-label-input-gap-trailingDropdown: 0px;
  --imported-input-field-base-input-with-label-input-padding-block-default: 10px;
  --imported-input-field-base-input-with-label-input-padding-block-leadingDropdown: 0px;
  --imported-input-field-base-input-with-label-input-padding-block-leadingText: 0px;
  --imported-input-field-base-input-with-label-input-padding-block-paymentInput: 10px;
  --imported-input-field-base-input-with-label-input-padding-block-trailingDropdown: 0px;
  --imported-input-field-base-input-with-label-label-color: #404040;
  --imported-input-field-base-input-with-label-label-font-size: 14px;
  --imported-input-field-base-input-with-label-label-font-weight: 500;
  --imported-input-field-base-input-with-label-label-line-height: 20px;
  --imported-input-field-base-root-gap: 6px;
  --imported-input-field-base-root-width: 320px;
  --imported-progress-bar-percentage-color: #404040;
  --imported-progress-bar-percentage-font-size: 14px;
  --imported-progress-bar-percentage-font-weight: 500;
  --imported-progress-bar-percentage-line-height: 20px;
  --imported-progress-bar-progress-bar-background-background-color: #f5f5f5;
  --imported-progress-bar-progress-bar-background-border-radius: 4px;
  --imported-progress-bar-progress-bar-border-radius: 8px;
  --imported-progress-bar-root-gap-bottom: 8px;
  --imported-progress-bar-root-gap-bottomFloating: 8px;
  --imported-progress-bar-root-gap-false: 12px;
  --imported-progress-bar-root-gap-right: 12px;
  --imported-progress-bar-root-gap-topFloating: 8px;
  --imported-progress-bar-root-width: 320px;
  --imported-progress-circle-group-3-label-color: #525252;
  --imported-progress-circle-group-3-label-font-size-lg: 14px;
  --imported-progress-circle-group-3-label-font-size-md: 14px;
  --imported-progress-circle-group-3-label-font-size-sm: 12px;
  --imported-progress-circle-group-3-label-font-size-xs: 12px;
  --imported-progress-circle-group-3-label-font-weight: 500;
  --imported-progress-circle-group-3-label-line-height-lg: 20px;
  --imported-progress-circle-group-3-label-line-height-md: 20px;
  --imported-progress-circle-group-3-label-line-height-sm: 18px;
  --imported-progress-circle-group-3-label-line-height-xs: 18px;
  --imported-progress-circle-group-3-number-color: #171717;
  --imported-progress-circle-group-3-number-font-size-lg: 48px;
  --imported-progress-circle-group-3-number-font-size-md: 36px;
  --imported-progress-circle-group-3-number-font-size-sm: 30px;
  --imported-progress-circle-group-3-number-font-size-xs: 24px;
  --imported-progress-circle-group-3-number-font-weight: 600;
  --imported-progress-circle-group-3-number-line-height-lg: 60px;
  --imported-progress-circle-group-3-number-line-height-md: 44px;
  --imported-progress-circle-group-3-number-line-height-sm: 38px;
  --imported-progress-circle-group-3-number-line-height-xs: 32px;
  --imported-progress-circle-ring-background-border-color: #f5f5f5;
  --imported-progress-circle-ring-background-border-width-lg: 28px;
  --imported-progress-circle-ring-background-border-width-md: 24px;
  --imported-progress-circle-ring-background-border-width-sm: 20px;
  --imported-progress-circle-ring-background-border-width-xs: 16px;
  --imported-progress-circle-ring-line-border-color: #7f56d9;
  --imported-progress-circle-ring-line-border-width-lg: 28px;
  --imported-progress-circle-ring-line-border-width-md: 24px;
  --imported-progress-circle-ring-line-border-width-sm: 20px;
  --imported-progress-circle-ring-line-border-width-xs: 16px;
  --imported-shared-color-737373: #737373;
  --imported-shared-color-7f56d9: #7f56d9;
  --imported-shared-num-400: 400;
  --imported-shared-size-12: 12px;
  --imported-shared-size-16: 16px;
  --imported-shared-size-24: 24px;
  --imported-slider-background-background-color: #e5e5e5;
  --imported-slider-background-border-radius: 4px;
  --imported-slider-progress-left-control-left-control-background-color: #ffffff;
  --imported-slider-progress-left-control-left-control-border-width: 1px;
  --imported-slider-progress-left-control-left-number-color: #171717;
  --imported-slider-progress-left-control-left-number-font-size: 16px;
  --imported-slider-progress-left-control-left-number-font-weight: 500;
  --imported-slider-progress-left-control-left-number-line-height: 24px;
  --imported-slider-progress-progress-line-border-radius: 4px;
  --imported-slider-progress-right-control-right-control-background-color: #ffffff;
  --imported-slider-progress-right-control-right-control-border-width: 1px;
  --imported-slider-progress-right-control-right-number-color: #171717;
  --imported-slider-progress-right-control-right-number-font-size: 16px;
  --imported-slider-progress-right-control-right-number-font-weight: 500;
  --imported-slider-progress-right-control-right-number-line-height: 24px;
  --imported-slider-root-border-radius: 8px;
  --imported-social-button-root-background-color-apple-brand-default: #000000;
  --imported-social-button-root-background-color-apple-brand-focused: #000000;
  --imported-social-button-root-background-color-apple-brand-hover: #000000;
  --imported-social-button-root-background-color-apple-color-default: #ffffff;
  --imported-social-button-root-background-color-apple-color-focused: #ffffff;
  --imported-social-button-root-background-color-apple-color-hover: #fafafa;
  --imported-social-button-root-background-color-apple-colorWithBrand-default: #ffffff;
  --imported-social-button-root-background-color-apple-colorWithBrand-focused: #ffffff;
  --imported-social-button-root-background-color-apple-colorWithBrand-hover: #fafafa;
  --imported-social-button-root-background-color-dribbble-brand-default: #ea4c89;
  --imported-social-button-root-background-color-dribbble-brand-focused: #ea4c89;
  --imported-social-button-root-background-color-dribbble-brand-hover: #e62872;
  --imported-social-button-root-background-color-dribbble-color-default: #ffffff;
  --imported-social-button-root-background-color-dribbble-color-focused: #ffffff;
  --imported-social-button-root-background-color-dribbble-color-hover: #fafafa;
  --imported-social-button-root-background-color-dribbble-colorWithBrand-default: #ffffff;
  --imported-social-button-root-background-color-dribbble-colorWithBrand-focused: #ffffff;
  --imported-social-button-root-background-color-dribbble-colorWithBrand-hover: #fafafa;
  --imported-social-button-root-background-color-facebook-brand-default: #1877f2;
  --imported-social-button-root-background-color-facebook-brand-focused: #1877f2;
  --imported-social-button-root-background-color-facebook-brand-hover: #0c63d4;
  --imported-social-button-root-background-color-facebook-color-default: #ffffff;
  --imported-social-button-root-background-color-facebook-color-focused: #ffffff;
  --imported-social-button-root-background-color-facebook-color-hover: #fafafa;
  --imported-social-button-root-background-color-facebook-colorWithBrand-default: #ffffff;
  --imported-social-button-root-background-color-facebook-colorWithBrand-focused: #ffffff;
  --imported-social-button-root-background-color-facebook-colorWithBrand-hover: #fafafa;
  --imported-social-button-root-background-color-figma-brand-default: #000000;
  --imported-social-button-root-background-color-figma-brand-focused: #000000;
  --imported-social-button-root-background-color-figma-brand-hover: #000000;
  --imported-social-button-root-background-color-figma-color-default: #ffffff;
  --imported-social-button-root-background-color-figma-color-focused: #ffffff;
  --imported-social-button-root-background-color-figma-color-hover: #fafafa;
  --imported-social-button-root-background-color-figma-colorWithBrand-default: #ffffff;
  --imported-social-button-root-background-color-figma-colorWithBrand-focused: #ffffff;
  --imported-social-button-root-background-color-figma-colorWithBrand-hover: #fafafa;
  --imported-social-button-root-background-color-google-brand-default: #ffffff;
  --imported-social-button-root-background-color-google-brand-focused: #ffffff;
  --imported-social-button-root-background-color-google-brand-hover: #fafafa;
  --imported-social-button-root-background-color-google-color-default: #ffffff;
  --imported-social-button-root-background-color-google-color-focused: #ffffff;
  --imported-social-button-root-background-color-google-color-hover: #fafafa;
  --imported-social-button-root-background-color-google-colorWithBrand-default: #ffffff;
  --imported-social-button-root-background-color-google-colorWithBrand-focused: #ffffff;
  --imported-social-button-root-background-color-google-colorWithBrand-hover: #fafafa;
  --imported-social-button-root-background-color-x-brand-default: #000000;
  --imported-social-button-root-background-color-x-brand-focused: #000000;
  --imported-social-button-root-background-color-x-brand-hover: #000000;
  --imported-social-button-root-background-color-x-color-default: #ffffff;
  --imported-social-button-root-background-color-x-color-focused: #ffffff;
  --imported-social-button-root-background-color-x-color-hover: #fafafa;
  --imported-social-button-root-background-color-x-colorWithBrand-default: #ffffff;
  --imported-social-button-root-background-color-x-colorWithBrand-focused: #ffffff;
  --imported-social-button-root-background-color-x-colorWithBrand-hover: #fafafa;
  --imported-social-button-root-border-radius: 8px;
  --imported-social-button-root-border-width-apple-brand: 0px;
  --imported-social-button-root-border-width-apple-color: 1px;
  --imported-social-button-root-border-width-apple-colorWithBrand: 1px;
  --imported-social-button-root-border-width-dribbble-brand: 0px;
  --imported-social-button-root-border-width-dribbble-color: 1px;
  --imported-social-button-root-border-width-dribbble-colorWithBrand: 1px;
  --imported-social-button-root-border-width-facebook-brand: 0px;
  --imported-social-button-root-border-width-facebook-color: 1px;
  --imported-social-button-root-border-width-facebook-colorWithBrand: 1px;
  --imported-social-button-root-border-width-figma-brand: 0px;
  --imported-social-button-root-border-width-figma-color: 1px;
  --imported-social-button-root-border-width-figma-colorWithBrand: 1px;
  --imported-social-button-root-border-width-google-brand: 1px;
  --imported-social-button-root-border-width-google-color: 1px;
  --imported-social-button-root-border-width-google-colorWithBrand: 1px;
  --imported-social-button-root-border-width-x-brand: 0px;
  --imported-social-button-root-border-width-x-color: 1px;
  --imported-social-button-root-border-width-x-colorWithBrand: 1px;
  --imported-social-button-root-padding-block: 10px;
  --imported-social-button-text-font-size: 16px;
  --imported-social-button-text-font-weight: 600;
  --imported-social-button-text-line-height: 24px;
  --imported-stub-arrow-right-root-height: 12px;
  --imported-stub-arrow-right-root-width: 12px;
  --imported-stub-arrow-up-root-height: 12px;
  --imported-stub-arrow-up-root-width: 12px;
  --imported-stub-au-root-height: 16px;
  --imported-stub-au-root-width: 16px;
  --imported-stub-avatar-company-icon-root-border-radius-2xl: 13.333334922790527px;
  --imported-stub-avatar-company-icon-root-border-radius-lg: 12px;
  --imported-stub-avatar-company-icon-root-border-radius-md: 12px;
  --imported-stub-avatar-company-icon-root-border-radius-sm: 12px;
  --imported-stub-avatar-company-icon-root-border-radius-xl: 12px;
  --imported-stub-avatar-company-icon-root-border-radius-xs: 12px;
  --imported-stub-avatar-company-icon-root-height-2xl: 20px;
  --imported-stub-avatar-company-icon-root-height-lg: 16px;
  --imported-stub-avatar-company-icon-root-height-md: 14px;
  --imported-stub-avatar-company-icon-root-height-sm: 12px;
  --imported-stub-avatar-company-icon-root-height-xl: 18px;
  --imported-stub-avatar-company-icon-root-height-xs: 10px;
  --imported-stub-avatar-company-icon-root-width-2xl: 20px;
  --imported-stub-avatar-company-icon-root-width-lg: 16px;
  --imported-stub-avatar-company-icon-root-width-md: 14px;
  --imported-stub-avatar-company-icon-root-width-sm: 12px;
  --imported-stub-avatar-company-icon-root-width-xl: 18px;
  --imported-stub-avatar-company-icon-root-width-xs: 10px;
  --imported-stub-avatar-online-indicator-root-background-color: #22c55e;
  --imported-stub-avatar-online-indicator-root-border-color: #ffffff;
  --imported-stub-avatar-online-indicator-root-border-radius-2xl: 8px;
  --imported-stub-avatar-online-indicator-root-border-radius-lg: 6px;
  --imported-stub-avatar-online-indicator-root-border-radius-md: 5px;
  --imported-stub-avatar-online-indicator-root-border-radius-sm: 4px;
  --imported-stub-avatar-online-indicator-root-border-radius-xl: 7px;
  --imported-stub-avatar-online-indicator-root-border-radius-xs: 3px;
  --imported-stub-avatar-online-indicator-root-border-width: 1.5px;
  --imported-stub-avatar-online-indicator-root-height-2xl: 16px;
  --imported-stub-avatar-online-indicator-root-height-lg: 12px;
  --imported-stub-avatar-online-indicator-root-height-md: 10px;
  --imported-stub-avatar-online-indicator-root-height-sm: 8px;
  --imported-stub-avatar-online-indicator-root-height-xl: 14px;
  --imported-stub-avatar-online-indicator-root-height-xs: 6px;
  --imported-stub-avatar-online-indicator-root-width-2xl: 16px;
  --imported-stub-avatar-online-indicator-root-width-lg: 12px;
  --imported-stub-avatar-online-indicator-root-width-md: 10px;
  --imported-stub-avatar-online-indicator-root-width-sm: 8px;
  --imported-stub-avatar-online-indicator-root-width-xl: 14px;
  --imported-stub-avatar-online-indicator-root-width-xs: 6px;
  --imported-stub-checkbox-root-height: 16px;
  --imported-stub-checkbox-root-width: 16px;
  --imported-stub-chevron-down-root-height: 20px;
  --imported-stub-chevron-down-root-width: 20px;
  --imported-stub-circle-root-height: 20px;
  --imported-stub-circle-root-width: 20px;
  --imported-stub-dot-root-height: 8px;
  --imported-stub-dot-root-width: 8px;
  --imported-stub-mail-root-height: 20px;
  --imported-stub-mail-root-width: 20px;
  --imported-stub-payment-method-icon-root-background-color: #ffffff;
  --imported-stub-payment-method-icon-root-border-color: #e5e5e5;
  --imported-stub-payment-method-icon-root-border-radius: 4px;
  --imported-stub-payment-method-icon-root-border-width: 1px;
  --imported-stub-payment-method-icon-root-height: 24px;
  --imported-stub-payment-method-icon-root-width: 34px;
  --imported-stub-plus-root-height: 12px;
  --imported-stub-plus-root-width: 12px;
  --imported-stub-social-icon-root-height: 20px;
  --imported-stub-social-icon-root-width: 20px;
  --imported-stub-x-root-height: 12px;
  --imported-stub-x-root-width: 12px;
  --imported-toggle-base-button-background-color: #ffffff;
  --imported-toggle-base-button-state-disabled-background-color: #fafafa;
  --imported-toggle-base-root-border-radius: 12px;
  --imported-toggle-base-root-height-md: 24px;
  --imported-toggle-base-root-height-sm: 20px;
  --imported-toggle-base-root-padding-block: 2px;
  --imported-toggle-base-root-padding-inline: 2px;
  --imported-toggle-base-root-width-md: 44px;
  --imported-toggle-base-root-width-sm: 36px;
  --imported-toggle-base-state-disabled-background-color: #f5f5f5;
  --imported-tooltip-content-background-color-dark: #171717;
  --imported-tooltip-content-background-color-light: #ffffff;
  --imported-tooltip-content-border-radius: 8px;
  --imported-tooltip-content-text-and-supporting-text-gap: 4px;
  --imported-tooltip-content-text-and-supporting-text-supporting-text-color-dark: #ffffff;
  --imported-tooltip-content-text-and-supporting-text-supporting-text-color-light: #525252;
  --imported-tooltip-content-text-and-supporting-text-supporting-text-font-weight: 400;
  --imported-tooltip-content-text-and-supporting-text-supporting-text-line-height: 18px;
  --imported-tooltip-content-text-and-supporting-text-text-color-dark: #ffffff;
  --imported-tooltip-content-text-and-supporting-text-text-color-light: #404040;
  --imported-tooltip-content-text-and-supporting-text-text-font-weight: 600;
  --imported-tooltip-content-text-and-supporting-text-text-line-height: 18px;
  --imported-tooltip-root-border-radius: 8px;
  --imported-tooltip-tooltip-bottom-center-background-color-dark: #171717;
  --imported-tooltip-tooltip-bottom-center-background-color-light: #ffffff;
  --imported-tooltip-tooltip-bottom-center-border-radius: 1px;
}
