[data-cf="border-color-control-equal"] { display: flex; padding: 4px; }
[data-cf="border-color-control-equal"] .cf-a { display: inline-block; color: rgb(20, 20, 20); border: 2px solid rgb(0, 0, 0); border-radius: 4px; padding: 2px 6px; }
